@model Master40.DB.DataModel.M_Article

@{
    ViewData[index: "Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArticleTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ArticleTypeId" class="form-control" asp-items="ViewBag.ArticleTypeId"></select>
                <span asp-validation-for="ArticleTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryPeriod" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveryPeriod" class="form-control" />
                <span asp-validation-for="DeliveryPeriod" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}
}
