@model IEnumerable<Master40.DB.DataModel.M_Resource>
<div class="card" style="margin-top: 10px;">
    <div class="card-header">
        <b>Machine Workload</b>
    </div>
    <div class="card-body">
        <div class="row" style="text-align: center">
            @foreach (var section in Model.OrderBy(keySelector: x => x.Id))
            {
                <div class="col-3">

                    <partial name="~/Views/AgentLive/PartialResource.cshtml" model="section" />

                </div>
            }
            <div class="col-3">
                <div class="bs-callout bs-callout-dark" style="padding: 0px 0px; height: 77px">
                    <h4>Legende</h4>
                    <p>
                        unused space for random infos
                        <!--
                        <i class="fas fa-dot-circle"></i> Working <br/>
                        <i class="fas fa-dot-circle"></i> Setup <br/>
                        <i class="fas fa-dot-circle"></i> Idle
                        -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>