@{ 

}
<style>
    .chartWrapper {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    .chartThroughputWrapper {
        overflow-x: hidden;
        position: relative;
        width: 250px;
        height: 300px;
    }


</style>
    <div class="chartWrapper" style="float:left">
        <div class="chartAreaWrapper">
            <div class="chartThroughputWrapper">
                <!--div id="js-legend" class="chart-legend"><div-->
                <canvas id="Throughput" height="335"></canvas>
            </div>
        </div>
    </div>

    <script>

        var ThorughputElement = document.getElementById("Throughput");
        var ThroughputChart = new Chart(ThorughputElement, {
            type: 'boxplot',
            data: {
                // define label tree
                labels: ['Products'],
                datasets: [{
                    label: 'Dump-Truck',
                    backgroundColor: 'rgba(227, 76, 87,  .6)',
                    borderColor: 'rgba(227, 76, 87, 1)',
                    borderWidth: 1,
                    outlierColor: '#000000',
                    padding: 10,
                    itemRadius: 2,
                    data: [
                        []
                    ]
                }, {
                        label: 'Race-Truck',
                        backgroundColor: 'rgba(246, 167, 30,  .6)',
                        borderColor: 'rgba(246, 167, 30,  1)',
                        borderWidth: 1,
                        outlierColor: '#000000',
                        padding: 10,
                        itemRadius: 2,
                        data: [
                            []    
                        ]
                    }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                title: {
                    display: false,
                    text: 'Throughput Times'
                }
            }
        });
       

        processingProxy.on("Throughput", function (msg) {
            // console.log("Throughput : " + msg);
            var serialized = JSON.parse(msg);
            for (item of serialized.group) {
                switch (item.Key) {
                    case "Race-Truck":
                        item.List.push(...ThroughputChart.data.datasets[0].data[0]);
                        ThroughputChart.data.datasets[0].data[0] = shiftArray(item.List);
                        break;
                    case "Dump-Truck":
                        item.List.push(...ThroughputChart.data.datasets[1].data[0]);
                        ThroughputChart.data.datasets[1].data[0] = shiftArray(item.List);
                        break;
                    default:
                        console.log("Sorry, we are out of " + expr + ".");
                }
            }
            ThroughputChart.update();

            //                    console.log("Sorry, we are out of " + expr + ".");
        });

        function shiftArray(list) {
            var number = list.length;
            if (number > 50) {
                for (i = 0; i < 50 - number; i++) {
                    list.shift();
                }
                
            }
            return list;
        }

    </script>



