@{ 

}
<style>
    .chartAreaWrapperWorkload {
        position: relative;
        height: 125px;
        width: 100%;
    }
</style>
    <div class="chartWrapper" style="float:left">
        <div class="chartAreaWrapper">
            <div class="chartAreaWrapperWorkload">
                <!--div id="js-legend" class="chart-legend"><div-->
                <canvas id="TotalWorkLoad" height="125"></canvas>
            </div>
        </div>
    </div>

    <script>
        var TotalWorkLoadElement = document.getElementById("TotalWorkLoad");
        var TotalWorkLoadChart =
            new Chart(TotalWorkLoadElement, {
                type: "scatter"
                , data: {
                    datasets: [{
                        data: [{ "x": 0.0, "y": 0.0 }]
                        , type: "line"
                        , lineTension: 0.5
                        , borderWidth: 1
                        , borderColor: "rgb(3,79,175, .6)"
                        , pointBackgroundColor: "rgb(3,79,175, .6)"
                        , showLine: true
                        , fill: false
                        , label: "Total Workload"
                        , yAxisID: "first-y-axis"
                    }]
                    , labels: ["All Machines"]
                },
                options: {
                    responsive: true
                    , maintainAspectRatio: false
                    , title: {
                        position: "top"
                      , fontSize: 24
                      , fontStyle: "bold"
                      , text: "Total Workload"
                    }, legend: {
                        display: false
                      , position: "bottom"
                      , fullWidth: true
                    },
                    scales: {
                         xAxes: [{
                             type: "linear"
                             , id: "first-x-axis"
                             , scaleLabel: { display: true, labelString: "Time in min", fontSize: 12 }
                             , ticks: { min: 0.0, max: 20000.0, display: true }
                             , display: true
                         }]
                        , yAxes: [{
                            type: "linear"
                            , id: "first-y-axis"
                            , scaleLabel: {
                                display: true
                                , labelString: "Workload in %"
                                , fontSize: 12
                            }
                            , ticks: { min: 0.0, stepSize: 50, max: 100, display: true }
                            , display: true
                        }]
                    }
                }
            });

        processingProxy.on("TotalWork", function (msg) {
            console.log("TotalWork : " + msg);
            var serialized = JSON.parse(msg);
            TotalWorkLoadChart.data.datasets[0].data.push({ x: serialized.Time, y: serialized.Load });
           
            TotalWorkLoadChart.update();
        });
    </script>



