@{ 

}
<style>
     .chartThroughputWrapper {
        overflow-x: hidden;
        position: relative;
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }


</style>
    <div class="chartWrapper" style="float:left">
        <div class="chartAreaWrapper">
            <div class="chartThroughputWrapper">
                <!--div id="js-legend" class="chart-legend"><div-->
                <canvas id="Throughput" height="335"></canvas>
            </div>
        </div>
    </div>

    <script>

        var ThroughputElement = document.getElementById("Throughput");
        var ThroughputChart = new Chart(ThroughputElement, {
            type: 'boxplot',
            data: {
                // define label tree
                labels: ['Products'],
                datasets: [{
                    label: 'Dump-Truck',
                    backgroundColor: 'rgba(227, 76, 87,  .6)',
                    borderColor: 'rgba(227, 76, 87, 1)',
                    borderWidth: 1,
                    outlierColor: '#000000',
                    padding: 10,
                    itemRadius: 2,
                    data: [
                        [600,650,550]
                    ]
                }, {
                    label: 'Race-Truck',
                    backgroundColor: 'rgba(246, 167, 30,  .6)',
                    borderColor: 'rgba(246, 167, 30,  1)',
                    borderWidth: 1,
                    outlierColor: '#000000',
                    padding: 10,
                    itemRadius: 2,
                    data: [
                        [600, 650, 550]    
                    ]
                }]
        },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                title: {
                    display: false,
                    text: 'Throughput Times'
                }
            }
        });
       

        processingProxy.on("Throughput", function (msg) {
            console.log("Throughput : " + msg);
            var serialized = JSON.parse(msg);
            for (item of serialized.group) {
                switch (item.Key) {
                    case "Race-Truck":
                        item.List.push(...ThroughputChart.data.datasets[0].data[0]);
                        ThroughputChart.data.datasets[0].data[0] = shiftArray(item.List);
                        break;
                    case "Dump-Truck":
                        item.List.push(...ThroughputChart.data.datasets[1].data[0]);
                        ThroughputChart.data.datasets[1].data[0] = shiftArray(item.List);
                        break;
                    default:
                        console.log("Sorry, we are out of " + expr + ".");
                }
            }
            ThroughputChart.update();

            //                    console.log("Sorry, we are out of " + expr + ".");
        });

        function shiftArray(list) {
            if (list.length > 50) {
               return list.slice(0, 50)
            }
            return list;
        }

    </script>



