@{ 
}

<div style="float:left; margin-top: 5px; margin-bottom: 5px;">
    <div class="chartContainerTimeliness">
        <div class="chartLayerTimeliness" style="margin-top: 20px">

            <!--div id="js-legend" class="chart-legend"><div-->

            <canvas id="TimelinessElement" height="250" width="200"></canvas>
        </div>
        <div class="text-center">
            <span id="valueTimeliness">
                In time: 95 %
             </span>
        </div>
    </div>
</div>
    <style>
        Timeliness > canvas {
            width: 250px;
            height: 250px;
        }
        chartContainerTimeliness {
            position: relative;
            width: 200px;
            margin-left: 20px;
            margin-right: 20px;
            height: 250px;
        }
    </style>
    <script>
        var TimelinessElement = document.getElementById("TimelinessElement");
        var TimelinessChart = new Chart(TimelinessElement, {
            "type": "bar"
            , "data": {
                "datasets": [
                //{
                //    "type": "bar"
                //    , "backgroundColor": ["rgba(0, 0, 0, 0.0)"]
                //    , "data": [0.0]
                //}
                //,
                {
                    "type": "bar"
                    , "label" : "in time"
                    , "backgroundColor": ["rgba(125, 180, 86, 0.6)"]
                    , "data": [95.0] }
                , {
                    "type": "bar"
                    ,"label": "to late"
                    , "backgroundColor": ["rgba(227, 76, 87, 0.6)"]
                    , "data": [5.0]
                }], "labels": ["in time", "to late"]
            }, "options": {
                "responsive": true, "maintainAspectRatio": false, "legend": { "display": false }
                , "scales": {
                    "yAxes": [{
                        "type": "linear", "id": "first-x-axis"
                        , "scaleLabel": { "display": true, "labelString": "Timeliness", "fontSize": 12 }
                        , "ticks": { "max": 100.0, "min": 0, "display": true }
                        , "display": true, "stacked": false
                    }], "xAxes": [{ "display": true, "stacked": false }]
                }
            }
        }
        );;

        processingProxy.on("Timeliness", function (msg) {
            // console.log("Timeliness :" + msg);

            TimelinessChart.data.datasets[0].data = [msg];
            TimelinessChart.data.datasets[1].data = [100 - msg];
            TimelinessChart.update();
            var val = Math.round(msg*100)/100;
            $("#valueTimeliness").replaceWith("<span id='valueTimeliness'>In time: " + val + " %</span>");
            
        });
    </script>



