.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 3px;
}


.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #343a40;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

    .main-menu > ul {
        margin: 7px 0;
        padding-top: 2px;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 250px;
    }

        .main-menu li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #999;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    nav ul, nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        background-color: #ff6a00;
    }

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

ul .sub-menu {
    /* background-color: #181c20; */
    background-color: #303030;
    border: none;
    color: azure !important;
    line-height: 28px;
    /* border-bottom: 1px solid #23282e; */
}
ul ul .sub-menu {
    /* background-color: #181c20; */
    background-color: #404040;
    color: azure !important;
    border: none;
    line-height: 28px;
    /* border-bottom: 1px solid #23282e; */
}
ul ul .sub-menu .nav-text:before {
    font-family: FontAwesome;
    content: "\f101";
    display: inline-block;
    padding-left: 30px;
}

ul .sub-menu .nav-text:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 15px;
}



.main-menu ul :not(collapsed) .arrow:before,
.main-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    /* float: right; */
}
/*
.main-menu li {
    cursor: pointer;
    .collapsed

{
    .arrow:before

{
    font-family: FontAwesome;
    content: "\f053";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    /* float: right; 
}

}
}
*/