body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.fa-unset {
    width: unset !important;
    height: unset !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.modal-content {
    padding: 0 25px 10px;
    min-height: 315px;
    min-width: 400px;
    /* width: fit-content; */
}

.modal-dialog {
    margin: 110px auto;
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
    width: 100%;
}

#ContentBlock {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    -webkit-padding-start: 0;
    width: 344px;
    background: white;
    z-index: 99;
    border: dashed 1px grey;
}

.loading {
    background: white url(/images/loading.svg) no-repeat center;
    min-height: 120px;
    margin-top: 100px;
}

.panel-collapse-clickable {
    cursor: pointer;  
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    /* color: grey; adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}


.gantt_grid_head_cell {
    display: block !important;
}
.gantt_sort {
    left: 150px !important;
    top: 20px !important;
}

.footer {
    position: fixed;
    width: 100%;
    background: white;
    border-top: 1px solid gray;
    padding-left: 75px;
    bottom: 0px;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    /* Tighten up space between multiple callouts */
    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}

    .bs-callout-danger h4 {
        color: #ce4844;
    }

.bs-callout-warning {
    border-left-color: #aa6708;
    background-color: #fff3cd;
}

    .bs-callout-warning h4 {
        color: #aa6708;
    }

.bs-callout-info {
    border-left-color: #1b809e;
    background-color: #d1ecf1;
}

    .bs-callout-info h4 {
        color: #1b809e;
    }

.bs-callout-success {
    border-left-color: #155724;
    background-color: #d6e9c6;
}

    .bs-callout-success h4 {
        color: #155724;
    }