<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="logs/debug_zpp.log"
                deleteOldFileOnStartup="true"
        />
        <target name="logconsole" xsi:type="Console" />
        <target name="debugger" xsi:type="Debugger" layout="${logger}: ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*" minlevel="Warning" writeTo="logconsole" />
        <logger name="*" minlevel="Warning" writeTo="debugger" />
    </rules>
</nlog>