@model Mate.DataCore.ReportingModel.ConfigurationItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ConfigurationItem</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Property" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Property" class="form-control" />
                    <span asp-validation-for="Property" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PropertyValue" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PropertyValue" class="form-control" />
                    <span asp-validation-for="PropertyValue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <hr \>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <a asp-action="Index"  class="btn btn-outline-secondary" >Cancel</a> | <input type="submit" value="Save" class="btn btn-secondary" />   
            </div>
        </form>
    </div>
</div>

<div>

</div>

