@model Master40.DB.DataModel.T_CustomerOrderPart

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>OrderPart</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="CustomerOrderId" />
            <label asp-for="CustomerOrderId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CustomerOrderId" class="form-control" asp-items="ViewBag.OrderId" disabled="disabled"></select>
                <span asp-validation-for="CustomerOrderId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArticleId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPlanned" disabled="disabled"/>
                    <label asp-for="IsPlanned"></label>
                </div>
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" asp-toggle="modal" data-target="#modal-container" value="Save" class="btn btn-default">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}
}