<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2007-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<default>
		<add key="opt.default.config"/>
		<add key="interface.default.config"/>
		<add key="colors.default.config"/>
		<add key="icons.default.config"/>
	</default>
	<redirect>
		<add key="*" value="local.config"/>
	</redirect>
	<application>
		<!-- the licence -->
		<!-- PATH_LICENCEFILE: Gibt an, wo die Lizenzdatei liegt -->
		<!-- LICENCE_LOGGING: Gibt an, ob das Logging des Lizensystems angeschalten ist -->
		<!-- PATH_LICENCE_LOGGING: Gibt an, wo das Logging des Lizensystems geschieht -->
		<!-- ohne Wert: Es wird unter Dokumente/Ganttplan gelogged -->
		<!-- mit Wert: Es wird in dem angegebenen Ordner im Unterordner \log\<user>_<host>\ gelogged -->
		<add key="PATH_LICENCEFILE" value=""/>
		<add key="LICENCE_LOGGING" value="false"/>
		<add key="PATH_LICENCE_LOGGING" value=""/>
		
		<!-- used font settings -->
		<!--<add key="GPFONT_NAME" value="Segoe UI"/>-->
		<!--<add key="GPFONT_SIZE" value="9"/>-->
		
		<!-- use workerthreads for lengthy operations -->
		<add key="USE_WORKERTHREADS" value="true"/>

		<!-- start custom exe on events -->
		<!--<add key="EXE_CUSTOM_ONINIT" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONIMPORTMODEL" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONEXIT" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONEXPORT_BEFORE" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONEXPORT_AFTER" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONLIVEUPDATE" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONRELOADORDERS" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONSYNC_BEFORE" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONSYNC_AFTER" value="false" file="" path="" param=""/>-->
		<!--<add key="EXE_CUSTOM_ONPREPAREDATA" value="false" file="" path="" param=""/>-->
		
		<!-- show popup with error message in case the custom exe returns not 0 -->
		<!-- e.g. EXE_CUSTOM_ERRORCODE_INFO_3" value="error 3" if you want to show an error message when your exe returns 3 -->
		<!-- <add key="EXE_CUSTOM_ERRORCODE_INFO_XY" value="..."/> -->
		
		<!-- Default-Language-Keys -->
		<add key="LANGUAGE_DEFAULT" value="DE"/>
		<add key="STRINGTABLE_DE" value="ganttplan_DE.lang|shared_DE.lang"/>
		<add key="STRINGTABLE_EN" value="ganttplan_EN.lang|shared_EN.lang"/>
		
		<!-- User-Language-Keys -->
		<!-- You can define your own language files. These files will overwrite values from default language files. -->
		<!-- Here is an example with language value "*". You can replace the value "*", e.g. with "FR" or "RUS" or "myFile" -->
		<!-- <add key="LANGUAGE" value="*"/> -->
		<!-- Finally, the language files to be read must be specified. It doesn't matter if all adjustments are in one or more files. -->
		<!-- In the example, the changes are split into two files. The naming of the file(s) is freely selectable. -->
		<!-- <add key="STRINGTABLE_*" value="ganttplan_*.lang|shared_*.lang"/> -->
		
		<!-- Show localized numbers in all grids and controls (localized numbers will respect the current locale settings from Windows (Country/Region and language) -->
		<!-- true: Use locale settings from Windows -->
		<!-- false: Use neutral language for numerics -->
		<add key="SHOW_LOCALIZED_NUMERICS" value="true"/>
				
		<!-- live update interval Time/Status/BDE -->
		<add key="AUTO_UPDATE_INTERVAL_SEC" value="60"/>
		<!-- visual warnings on plan delay -->
		<add key="GANTT_WARNING_MIN_PLAN_DELAY_ABS" value="60"/>
		
		<!-- show comments from calendar- or shift intervals in gantt-->
		<!-- 0: show no comments -->
		<!-- 1: show only comments from not worktime intervals -->
		<!-- 2: show only comments from worktime intervals -->
		<!-- 3: show all comments from all interval types -->
		<add key="GANTT_SHOW_CALENDAR_COMMENTS" value="1"/>
		<add key="GANTT_SHOW_SHIFTINTERVAL_COMMENTS" value="1"/>
		
		<!-- show process descriptions over bars instead centered in bars-->
		<add key="GANTT_SHOW_DESCRIPTIONS_ABOVE_BARS" value="false"/>	
		
		<!-- show gantt label for missing material -->
		<add key="GANTT_SHOW_LABEL_MISSING_MATERIAL" value="true"/>
		
		<!-- Initial mode for displaying the activity bars -->
		<!-- 0: [separately] draw activity intervals as separate bars (blocked, paused, working) -->
		<!-- 1: [over pause] draw activity intervals as a contiguous bar (bar goes through pause) -->
		<add key="GANTT_ACTIVITY_DRAW_MODE" value="false"/>	
				
		<!-- show tooltips in gantt -->
		<add key="GANTT_SHOW_TOOLTIPS" value="true"/>

		<!-- gantt description identifier -->
		<add key="GANTT_IDENTIFIER" value="¿"/>
		<!-- gantt description texts -->		
		<!--add key="GANTT_LABEL_WORKCENTER" value="¿workcenter_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_WORKCENTERGROUP" value="¿workcentergroup_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_WORKER" value="¿worker_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_WORKERGROUP" value="¿workergroup_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_PRT" value="¿prt_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_PRODUCTIONORDER" value="¿productionorder_id¿ / ¿name¿"/-->
		<!--add key="GANTT_LABEL_PRODUCTIONORDER_OPERATION_ACTIVITY" value="¿productionorder_id¿: ¿operation_id¿"/-->
		
		<!-- sort orders by property (empty value to disable) -->
		<add key="GANTT_VIEWORDER_SORT" value="productionorder_id" ascending="true" hierarchy="true"/>
		
		<!-- fill mode for productionorder view -->
		<!-- 0: empty at start, it is allowed to add and remove productionorders -->
		<!-- 1: all productionorders are visible, it is not allowed to remove productionorders -->
		<!-- 2: filled with all primary productionorders, it is allowed to add and remove productionsorders, except primary productionorders -->
		<add key="GANTT_VIEWORDER_FILLMODE" value="0"/>
		
		<!-- gantt colors for weekday intervals -->
		<!-- key = GANTT_COLOR_WEEKDAY_ + "Weekday" as integer -->
		<!-- 0 = Monday, 1 = Tuesday, ..., 6 = Sunday -->
		<!-- e.g coloring all sundays light red: -->
		<!-- <add key="GANTT_COLOR_WEEKDAY_6" a="75" r="255" g="25" b="25"/> -->
		
		<!-- gantt colors for certain interval comments -->
		<!-- key = GANTT_COLOR_INTERVAL_ + "comment" from interval -->
		<!-- e.g. coloring interval in red if comment = Break Down -->
		<!-- <add key="GANTT_COLOR_INTERVAL_Break Down" r="255" g="0" b="0"/> -->
				
		<!-- gantt colors for info intervals -->
		<add key="GANTT_COLOR_INFO_INTERVAL" a="90" r="255" g="0" b="150"/>
		
		<!-- double click behaviour in gantt  -->
		<add key="GANTT_DOUBLECLICK_MODE" value="0"/>
		
		<!-- resource schedule colors for interval type -->
		<!-- if one value from the rgb code is -1, the interval type is not displayed in the resource schedule -->
		<!-- key = RESOURCESCHEDULE_COLOR_2 + "Type" as integer -->
		<!-- 1 = Pause, 2 = Arbeit, 3 = Urlaub, 4 = Krank, 5 = Wartung, 6 = Störung -->
		<add key="RESOURCESCHEDULE_COLOR_2" r="0" g="255" b="0"/>
		<add key="RESOURCESCHEDULE_COLOR_3" r="30" g="144" b="255"/>
		<add key="RESOURCESCHEDULE_COLOR_4" r="148" g="0" b="211"/>
				
		<!--add key="HIDE_SPLASH"/-->
		<!--add key="EXPORT_ON_APPLY"/-->
		<!--add key="BACKUPEXTERN_ON_APPLY"/-->
		<!--add key="SILENT"/-->
		<!--add key="CLIENT_ID"/-->
		
		<!-- reload all external data before optimization starts-->
		<add key="STARTOPT_RELOAD_EXTERNAL_DATA" value="false"/>

		<!-- use custom special release version info instead of original one -->
		<!--<add key="CUSTOM_VERSION_INFO" value="MyCustomInfo"/>-->
		
		<!-- check for new version -->
		<add key="VERSIONCHECK_VERSION" value="true"/>
		<!-- check for new beta version (only respected if check for new versions is true) -->
		<add key="VERSIONCHECK_BETA" value="false"/>
		<!-- check automatically at startup -->
		<add key="VERSIONCHECK_AUTOMATIC" value="true"/>
		<!-- check interval in days (0 = check always) -->
		<add key="VERSIONCHECK_AUTOMATIC_INTERVAL" value="1"/>
		
		<!-- Path to Working Directory -->
		<add key="PATH_WORKINGDIRECTORY" value="" />
		
		<!-- Changes how images are read and saved -->
		<!--		0:	never read images, never save images -->
		<!--		1:	Prefer loading images from Database (+image) -->
		<!--		2: 	Prefer loading images from file (+image_file) -->
		<!-- For 1 and 2 the bahviour is identical, except that user defined fields (UDF) are prioritized differently -->
		<!-- The behavior is as following: -->
		<!--		- Read from the UDF +image or +image_file -->
		<!--		- If both UDFs are filled read from the prefered UDF -->
		<!--		- Save to the same UDF it was read from -->
		<!--		- If no image was read save to the prefered UDF -->
		<add key="RESOURCEIMAGE_MODE" value="1" />
		
		<!-- Option to hide messages with the in value given id (Multiple IDs are separated with |)-->
		<!--<add key="HIDE_MSG" value="" />-->
		
		<!-- Option to output all log entries to the console additionally -->
		<add key="CONSOLE_LOGGING" value="false" />
		
		<!-- print report cells singleline or multiline -->
		<add key="REPORT_PRINT_MULTILINE" value="true"/>
		
		<!-- Option to automatically set the width of the last column to fit to the available width -->
		<add key="REPORT_EXPAND_LAST_COLUMN" value="true"/>
		
	</application>
	<database_ganttplan>
		<!-- do custom sql calls on events -->
		<!--<add key="SQL_CUSTOM_ONINIT" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONIMPORTMODEL" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONEXIT" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONRELOADORDERS" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONSYNC_BEFORE" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONSYNC_AFTER" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONPREPAREDATA" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONEXPORT_BEFORE" value="NULL"/>-->
		<!--<add key="SQL_CUSTOM_ONEXPORT_AFTER" value="NULL"/>-->
	</database_ganttplan>
	<gui>
		<!-- Do you really want to? -->
		<!-- <add key="DO_NOT_ASK_DELETE"/>-->
		<!-- <add key="DO_NOT_ASK_SAVE"/>-->
		
		<!-- GUI Elemente deaktivieren -->
		<!--<add key="MAINFRAME_HIDE_TREE"/>-->
		<!--<add key="MAINFRAME_HIDE_LIST"/>-->
		
		<!-- show time penalty controls in tabpage for worker(group) costs -->
		<add key="SHOW_TIME_PENALTY_CONTROLS" value="false"/>
		
		<!-- hide context menu entries to add or delete BOM items in BOMs used by productionorders -->
		<add key="DISALLOW_EDIT_USED_BOM_STRUCT" value="false"/>
		
		<!-- hide context menu entries to add or delete operations and activities in routings used by productionorders -->
		<add key="DISALLOW_EDIT_USED_ROUTING_STRUCT" value="false"/>
		
		<!-- Ansichten/Controls in Oberfläche ausblenden/deaktivieren -->
			<!-- Modi: -->
			<!-- 0: normal, lesen und schreiben möglich 					-->
			<!-- 1: readonly, nur lesen möglich 						--> 
			<!-- 2: hidden, das Controls wird nach Möglichkeit ausgeblendet 	-->
		<!-- Anwendung auf Ansicht eines Objektes:
		<add key="OBJECTSTATUS:{Objekttyp}" value="{Modus}" /> -->
		<!-- Anwendung auf bestimmte Eigenschaft eines Objektes:
		<add key="PROPERTYSTATUS:{Objekttyp}.{Eigenschaft}" value="{Modus}" /> -->
		
		<!-- Beispiele: -->			
		<!-- <add key="OBJECTSTATUS:material" value="2" />   							blendet die gesamte Material-Ansicht aus -->
		<!-- <add key="OBJECTSTATUS:material_routing" value="2" />   						blendet das Grid der zugeordneten Arbeitspläne in der Material-Ansicht aus -->
		<!-- <add key="PROPERTYSTATUS:productionorder_operation_activity.info1" value="1" />  	das Feld Information 1 im Reiter "Allgemein" der Fertigungsauftrags-Ansicht ist auch im Bearbeitungsmodus schreibgeschützt -->
		
		<!-- Hinweise: --> 
		<!-- 
			- Es werden immer nur zusammengehörige Gruppen von Controls ausgeblendet.
				- wenn z.B. nur ein Control einer Gruppe auf hidden (2) steht, wird dieses stattdessen als readonly (1) behandelt
				- erst wenn alle Elemente einer Control-Gruppe auf hidden (2) stehen, werden diese ausgeblendet
			- Verstecken von Topobjekten (z.B. key="OBJECTSTATUS:topobjekt" value="2") hat zur Folge, dass die View nicht mehr im Navigationsbaum angezeigt wird
				- Ausnahme: workingtimemodel. Dies bewirkt zusätzlich, dass der Arbeitszeitmodell-Reiter in der Personal-, Arbeitsplatz-, und FHM-Ansicht ausgeblendet wird
			- Die Anwendung auf Unterobjekte ist auch möglich. Das hat zur Folge, dass das entsprechende Control zum Anlegen (meistens ein Grid) ausgeblendet bzw. nicht-schreibbar wird
			- Die UDF-Prototypen, die ein eigenes GUI-Control haben können ganz normal als Property angegeben werden (inkl. dem '+' als Präfix)
			  z.B.: <add key="PROPERTYSTATUS:prt.+synchronous_start" value="1" />
		-->		
		
		<!-- VERALTET: lieber <add key="OBJECTSTATUS:***" value="2" /> verwenden!! -->
		<!-- views deaktivieren : key=HIDE_VIEW_*** -->
		<!-- zb: <add key="VIEW_HIDE_OBJECT_material"/>-->
		
		<!-- fussliste deaktivieren : key=HIDE_LIST_*** -->
		<add key="LIST_HIDE_OBJECT_unit"/>
		<add key="LIST_HIDE_OBJECT_optimizationgroup"/>
		<add key="LIST_HIDE_OBJECT_setupmatrix"/>
		<add key="LIST_HIDE_OBJECT_priority"/>
		<add key="LIST_HIDE_OBJECT_planningparameter"/>
		<add key="LIST_HIDE_OBJECT_user"/>
		
			<!-- show navigation pane (can be overwritten via registry) -->
		<add key="SHOW_NAVIGATION" value="true"/>
		
		<!-- show docklist pane (can be overwritten via registry) -->
		<add key="SHOW_DOCKLIST" value="true"/>
				
		<!-- custom splashscreen (* -> bmp, png, jpg, gif) -->
		<!-- add key="SPLASHSCREEN_FILE" value="MyLogo.*"/-->
		<!-- custom startscreen (* -> bmp, png, jpg, gif) -->
		<!-- add key="STARTSCREEN_FILE" value="MyLogo.*"/-->
		<!-- custom logo (* -> bmp, png, jpg, gif) and url for toolbar -->
		<!-- add key="LOGO_FILE" value="MyLogo.*"/-->
		<!-- add key="LOGO_URL" value="http://www.mydomain.com"/-->

		<!-- Standardzeiteinheit in bestimmten Views festlegen : z.B. key="TIMEUNIT_routing" value="101" -->
		<!-- Key untersützt aktuell routing, productionorder & bom -->
		<!-- Für value sind folgende Werte möglich:
			MINUTEN			= 101
			STUNDEN			= 102
			TAGE			= 103			
		-->		
		<!-- <add key="TIMEUNIT_routing" value="101"/> -->
		<!-- <add key="TIMEUNIT_productionorder" value="102"/> -->	
		
		<!-- Spezielle Benennungen für benutzte Datenquellen in GANTTPLAN-Oberfläche 
		Beispiel: value="ERP-System"-->
		<add key="DATASOURCE_NAME_DBConfig" value=""/>
		<add key="DATASOURCE_NAME_DBGP" value=""/>
		<add key="DATASOURCE_NAME_SQLite" value=""/>
		<add key="DATASOURCE_NAME_GPModel" value=""/>		
		<add key="DATASOURCE_NAME_Const" value=""/>
		<add key="DATASOURCE_NAME_NULL" value=""/>
		<add key="DATASOURCE_NAME_XMLConfig" value=""/>
		<add key="DATASOURCE_NAME_Cache" value=""/>		
		<add key="DATASOURCE_NAME_Dll" value=""/>
		<add key="DATASOURCE_NAME_REST" value=""/>
		
		<!-- Regex-Expression for automatic URL detection in grid cells and tooltips -->
		<add key="URL_DETECTION_REGEX_EXPRESSION" value="(?:https?://|ftp://|file://|www.)[^\s].[^\s]+"/>
		
		<!-- CSS, welches für die Darstellung von Leitstandstooltips verwendet wird. 
		Nomenklatur = .gantttooltip_*PROPERTY_ID* {CSS}
		Als CSS ist alles erlaubt, was ein <span></span> in HTML 4 enthalten kann.
		Im Beispiel wird der Hintergrund aller Eigenschaftsfelder der PropertyId workcenter_id die Hintergrundfarbe auf Rot gesetzt.
		<add key="TOOLTIP_CSS" value=".gantttooltip_workcenter_id {bgcolor: #FF1414; }"/> -->
		
		<!-- Size of tooltip shadow -->
		<!--add key="TOOLTIP_SHADOW_SIZE" value="0"/-->
		
		<!-- The left, right and top, bottom margins of the tooltip's text from the tooltip's edges -->
		<!--add key="TOOLTIP_MARGIN_SIZE" value="10"/-->
		
		<!-- Hide GP logo in toolbar -->
		<add key="TOOLBAR_HIDE_GPLOGO" value="false"/>
		
		<!-- Use this for dark main-toolbar background with white (bright) icons -->
		<add key="MAIN_TOOLBAR_BRIGHT_ICONS" value="false"/>
		
		<!-- Use this for dark object-toolbar background with white (bright) icons -->
		<add key="OBJECT_TOOLBAR_BRIGHT_ICONS" value="false"/>
		
		<!-- show background image in startview -->
		<add key="STARTVIEW_SHOW_BACKGROUNDIMAGE" value="true"/>
		
		<!-- Hide object items in navigation tree -->
		<add key="TREE_HIDE_OBJECT_ITEMS" value="false"/>
		
		<!-- Hide object id in navigation tree key=TREE_HIDE_OBJECT_IDS_*** -->
		<!-- Example: <add key="TREE_HIDE_OBJECT_IDS_material" value="false"/>-->
		
	</gui>
</configuration>
