<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<export>
		<!-- Exportmodus (CSV,DIRECTSQL,BULK) -->
		<add key="MODE" value="CSV"/>

		<!-- CSV,BULK: Path to write files, e.g. \\Server\public\ -->
		<!-- if empty, then the users working directory\Export\ is used, default: %userprofile%\documents\GANTTPLAN\Export\ -->
		<add key="PATH_GPTOPUBLICSHARE" value=""/>
		<!-- BULK: Path to read files, e.g C:\Shares\public\ -->
		<add key="PATH_DBTOPUBLICSHARE" value=""/>
		
		<!-- BULK,DIRECTSQL: welchen Connection string nutzen: DBGP, DBConfig -->
		<add key="CONNECTION" value="DBConfig"/>
		<!-- BULK,DIRECTSQL: custom sql command -->
		<add key="ONINIT" value="NULL"/>
		<!-- BULK,DIRECTSQL: custom sql command -->
		<add key="ONEXIT" value="NULL"/>
		<!-- BULK,DIRECTSQL,CSV: defines maximum string length per column (-1 == unlimited) -->
		<add key="MAXLENGTH" value="-1"/>
		<!-- DIRECTSQL: Enable automatic creation of exporttables if directsql export is configured, connection is dbgp and user has "Alter Database" permission -->
		<add key="CREATETABLES" value="false" />
		<!-- DIRECTSQL: Dürfen mehrere Insert-Statements gesammelt werden, die dann gemeinsam in einem Befehl übergeben werden -->
		<add key="MULTIINSERT" value="true"/>
		<!-- DIRECTSQL: Spaltennamen werden damit umschlossen, um sich von reservierten Schlüsselwörtern zu unterscheiden (z.B. [count] oder "count" anstatt nur count) -->
		<!-- Entweder zwei Zeichen angeben (z.B. "[]"), falls öffnender und schließender Identifier unterschiedlich, oder nur ein Zeichen angeben (z.B. "%"), falls identisch -->
		<!-- Handelt es sich beim Identifier um Quotes '"', dann muss dies mit dem Schlüsselwort "&quot;" (ähnlich HTML-Entities) angegeben werden -->
		<add key="IDENTIFIER" value="[]"/>
		<!-- DIRECTSQL: enable transaction security in directsql-export (rollback if error occurs) -->
		<add key="TRANSACTION_SECURITY" value="true"/>
						
		<!-- BULK: Name der Exportdatenbank (nur angeben, falls abweichend von Datenbank aus Connection-String) -->
		<add key="DATABASE" value=""/>
		<!-- CSV,BULK: Dateierweiterung -->
		<add key="FILEEXT" value="txt"/>
		<!-- CSV,BULK: Trennzeichen -->
		<add key="DELIMITER" value="¿"/>
		<!-- CSV,BULK: write header information in first line -->
		<add key="HEADER" value="true"/>
		<!-- CSV: enclose strings with double quotes (like in EXCEL), e.g. "My String" -->
		<add key="QUOTES" value="false"/>
		<!-- CSV,BULK,DIRECTSQL: Dateien bzw. Tabellen werden vor dem Füllen gelöscht -->
		<add key="DELETE" value="true"/>
		<!-- DIRECTSQL: Tabellen vor dem Füllen mittels TRUNCATE TABLE anstelle von DELETE löschen -->
		<add key="TRUNCATE" value="false"/>
		<!-- BULK: stored procedure that handles bulk insert -->
		<add key="BULKINSERT_SP" value="{? = CALL gpsp_export_bulkinsert('%s','%s','%s','%s','%s','%s',%s)}"/>
		<!-- BULK: temporär erzeugte CSV-Dateien nach BULK Export löschen -->
		<add key="BULK_DELETE_FILES" value="true"/>
		<!-- BULK,DIRECTSQL,CSV: Configures SESSION Data which is written in export (for all object types). Possible Values: client_id|session_id|result_id|userhost -->
		<add key="EXPORT_SESSIONDATA" value="session_id|client_id|result_id" />
		<!-- BULK,DIRECTSQL,CSV: renaming of sessiondata-entries in export, e.g "ALIAS_SESSIONDATA_userhost" value="computer"
		<add key="ALIAS_SESSIONDATA_[sessiondata]" value=""/> -->
		
		<!-- Object-Export -->
		<!-- ENABLE_[objecttype]: enable/disable export (use * to export all objecttypes) -->
		<!-- TARGET_[objecttype]: set custom table- or filename, default if no value is given: then the value is automatically replaced by the key of the current objecttype -->
		<!-- CONFIG_[objecttype]: 'Pipe' seperated list of all properties to export: e.g. info1|info2|info3, default if no value is given: all properties -->
		
		<!-- example with objecttype material and only session_id from session data
		<add key="ENABLE_material"/>
		<add key="TARGET_material" value="FileOrTablename"/>
		<add key="CONFIG_material" value="info1|info2|info3"/>
		<add key="EXPORT_SESSIONDATA" value="session_id"/> -->
		
		<!-- Report-Export -->
		<!-- ENABLE_REPORT_EXPORT_[report]: enable/disable report export (replace [report] with its report_id) -->
		<!-- TARGET_REPORT_EXPORT_[report]: configures the target table or file for the configured report -->
		<!-- REPORT_EXPORT_COLUMNS_[report]: 'Pipe' seperated list of all properties to export, default if no value is given: all properties -->
		
		<!-- example with default report salesorders (report_id = 7)
		<add key="ENABLE_REPORT_EXPORT_7"/>
		<add key="TARGET_REPORT_EXPORT_7" value="FileOrTablename"/>
		<add key="REPORT_EXPORT_COLUMNS_7" value="salesorder.salesorder_id|salesorder.unit.unit_id|salesorder.material.name|salesorder.report_stock_withdrawal|salesorder.report_end_schedule"/> -->
		
		<!-- Report-Export alias names -->
		<!-- REPORT_EXPORT_ALIAS_[report]:[property]: use alias name for property in report -->
		
		<!-- example alias 'salesorder_number' for property 'salesorder.salesorder_id' of default report salesorders (report_id = 7)
		<!-- notice: if this alias is used you also have to use this alias in REPORT_EXPORT_COLUMNS
		<add key="REPORT_EXPORT_ALIAS_7:salesorder.salesorder_id" value="salesorder_number"/> -->
	</export>	
</configuration>