<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<database_ganttplan>
		<!-- Standard ist der MSSQL-Provider, möglich ist jeder OLE DB provider -->
		<add key="SYNCHRONIZATION_PROVIDER" value="SQLNCLI"/>
		<!-- Anzahl Sekunden, die seit der letzten Synchronisierung vergangen sein muss, damit bei Bedarf wieder automatisch synchronisiert wird 
			-1 : keine automatische Synchronisation
			 0 : andauernde automatische Synchronisation
		-->
		<add key="SYNCHRONIZATION_WAITPERIOD" value="3600"/>
		
		<!-- Diese Objekte sollen nicht aus der DBGP gelöscht werden, auch wenn
			sie nicht mehr in der externen Datenbank vorhanden sind.
			Es sind nur Topobjekte zulässig.
			Mehrere Topobjekte können Pipe-getrennt angeben werden, z.B: value="prt|workcenter".
		-->
		<add key="SYNCHRONIZATION_NO_DELETE" value="" />
		
		<!-- Wiederherstellungsmodus der Datenbank setzen, falls er nicht der Auswahl entspricht
			Mögliche Werte: [LEER], Full, Bulk-logged, or Simple
			Bei [Leer] wird keine Änderung versucht...
		-->
		<add key="DATABASE_RECOVERY_MODE" value="SIMPLE"/>
	</database_ganttplan>
	<database_extern>
		<!-- Material Example
		<add key="SQL_SELECT_ALL_material" value= "select * from MyMaterials"/>
		<add key="SQL_SELECT_ALL_material_routing" value = "NULL"/>
		<add key="SQL_SELECT_ALL_material_unitconversion" value = "NULL"/>
		-->		
	</database_extern>
	<rest_extern>
		<!-- Server-Connection configuration -->
		<add key="REST_SERVER" value=""/> 	<!-- REST server, e.g http://localhost, keep empty if no REST connection is used -->
		<add key="REST_PORT" value=""/>		<!-- port, e.g 8080 -->
		<add key="REST_ROOT" value=""/>		<!-- root, e.g api -->
		
		<!-- Loglevel bei REST-Calls festlegen -->
		<!-- 0: Nur Warnungen und Fehler loggen -->
		<!-- 1: REST Calls loggen -->
		<!-- Folgende Optionen setzen '1' voraus (also 1 + [Option]) und können binär kombiniert werden: -->
		<!-- 2: zusätzlich Header der REST-Request-Calls loggen -->
		<!-- 4: zusätzlich Header der REST-Response-Calls loggen -->
		<!-- 8: zusätzlich Inhalt aus dem Json-Request-Body loggen (maximal LOG_BODY_SIZE_MAX Zeichen) -->
		<!-- 16: zusätzlich Inhalt aus dem Json-Response-Body loggen (maximal LOG_BODY_SIZE_MAX Zeichen) -->
		<add key="LOGLEVEL" value="0"/>		
		
		<!-- Sofern das Loggen vom Inhalt der Json-Body'S aktiviert ist, kann hiermit die Anzahl an Zeichen beim Loggen begrenzt werden (-1 für unbegrenzt) -->
		<add key="LOG_BODY_SIZE_MAX" value="1000"/>
		
		<!-- enable/disable popup for errors -->
		<add key="ERRORCODE_SHOW" value="true"/>
		
		<!-- enable/disable check server connection (only available from Payara version 4.1.2.187) -->
		<add key="CHECK_SERVER_CONNECTION" value="false"/>

		<!-- if the REST-datasource is used, this is the interval (in seconds) in which the connection to the server is checked -->
		<add key="INTERVAL_SERVER_CONNECTION_CHECK" value="10" />
	
	</rest_extern>
	<xml_extern>
		<!-- Pfad zum Verzeichnis der Import-XML-Dateien -->
		<add key="PATH_XMLFILES" value=""/>
		
		<!-- Pro gewünschtem Topobjekt ist eine XML-Datei anzugeben, wobei <topobject> durch den Schlüssel des Topobjekttyps ersetzt werden muss -->
		<!-- <add key="SOURCEFILE_<topobject>" value=""/> -->
		
		<!-- Beispiele: -->
		<!-- <add key="SOURCEFILE_workcenter" value="workcenter.xml"/> -->
		<!-- <add key="SOURCEFILE_material" value="parts.xml"/> -->
	</xml_extern>
	<dll_extern>
		<!-- die Schnittstellen-Dll -->
		<add key="PATH_DLL"		 					value=""/>	<!-- name or path to dll, e.g. value="connect.dll" -->
		
		<!-- die einzelnen Funktionsnamen -->
		<add key="FUNCTION_INIT" 					value=""/>
		<add key="FUNCTION_LOGIN" 					value=""/>
		<add key="FUNCTION_GETDATA"					value=""/>
		<add key="FUNCTION_UPDATEDATA"				value=""/>
		<add key="FUNCTION_DELDATA"					value=""/>
		<add key="FUNCTION_FREEBUFFER"   			value=""/>
		<add key="FUNCTION_LOGOUT" 					value=""/>
		<add key="FUNCTION_EXIT"					value=""/>
		
		<!-- Fehlercodes -->
		<!-- enable/disable popup for errorcodes (default: true) -->
		<add key="ERRORCODE_SHOW" value="true"/>
		
		<!-- set error text for error code XY -->
		<!-- <add key="ERRORCODE_INFO_XY" value="Mein Fehler."/>-->
		<!-- show popup for errorcode XY (default: true)-->
		<!-- <add key="ERRORCODE_SHOW_XY" value="false"/>-->
		
		<!-- company name the dll belongs to -->
		<add key="INTERFACE_VENDOR" value=""/>
		
		<!-- Loglevel bei Aufruf von DLL-Funktionen festlegen -->
		<!-- 0: kein spezielles Logging (nur Warnungen/Fehler werden geloggt) -->
		<!-- 1: wie 0, zusätzlich werden alle DLL-Funktionsaufrufe geloggt -->
		<!-- 2: wie 1, zusätzlich wird der Inhalt der Funktionsparamter beim Funktionsaufrufs und die erhaltenen Ergebnisdaten geloggt (kompletter Datenverkehr) -->
		<add key="LOGLEVEL" value="0"/>
	</dll_extern>
</configuration>