<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<default>
		<add key="interface-import.default.config"/>
		<add key="interface-export.default.config"/>
	</default>
	<api>
		<!-- Pfad und Name der zu ladenden Dll für kundenspezifischen Code (e.g. value="project.dll") -->
		<add key="PATH_DLL" value=""/>
	</api>
	<application>
		<!-- General DB settings  -->
		<add key="LOGIN_TIMEOUT_SECONDS" value="10"/>
		<add key="QUERY_TIMEOUT_SECONDS" value="60"/>

		<!-- enable/disable parallel threads -->
		<add key="USE_MULTITHREADS" value="true"/>
		<!-- enable/disable parallel database access -->
		<add key="USE_MULTITHREADS_DB" value="true"/>
		
		<!-- collect and save object debug infos -->
		<add key="SAVE_DEBUG_INFO" value="true"/>
		
		<!-- add custom environment variables to path
		e.g.: value=".\java\jre\bin;.\java\jre\bin\server;" -->
		<add key="ENVIRONMENT_VAR"	value=""/>
		
		<!-- remove old system locks after this period of time -->
		<add key="SYSTEMLOCK_REMOVE_SECONDS" value="1800"/>
		
		<!-- set database readlock as systemlock during model import -->
		<add key="SYSTEMLOCK_IMPORT_MODEL" value="true"/>
		
		<!-- Welche Objekttypen sollen beim Übernehmen eines Szenarios beachtet werden? -->
		<!-- Wenn keine Angabe, dann werden alle Objekte übernommen. Ansonsten können die gewünschten Objekttypen mittels 'Pipe' getrennt angegeben werden, -->
		<!-- z.B. value="salesorder|productionorder" wenn nur Bedarfe und Fertigungsaufträge aus dem Szenario übernommen werden sollen. -->
		<add key="SCENARIO_APPLY_OBJECTTYPES" value=""/>

		<!-- Beim Speichern von Szenariodateien werden die angegebenen Properties anonymisert. -->
		<!-- Der value wird statt des tatsächlichen Wertes in die Szenariodatei geschrieben -->
		<!-- Es können keine Primär- oder Fremdschlüsselfelder anonymisert werden. -->
		<!-- Für Datumsfelder muss der value in folgendem Format angegben werden: YYYYMMDD HH:MM:SS -->
		<!-- z.B. <add key="SCENARIO_ANONYMIZE:worker.name" value="(name wurde anonymisiert)" /> -->
		<!-- <add key="SCENARIO_ANONYMIZE:[objecttype].[property]" value="[Ersetzung]" /> -->
		
		<!-- Berechtigungen "ignorieren" (funktioniert nur mit Dll-Datenquelle) und "anonym" für Fertigungssteuerer aktivieren/deaktivieren -->
		<add key="PRODUCTIONCONTROLLER_PERMISSIONTYPE_IGNORE" value="false"/>
		<add key="PRODUCTIONCONTROLLER_PERMISSIONTYPE_ANONYMOUS" value="false"/>
	</application>
	<datasource>
		<!-- Wählbare Standarddatenquelle für Datenobjekte. Erlaubte Werte: DBGP, REST, Dll, DBConfig, XMLConfig, NULL -->
		<add key="SQL_IMPORTSRC" value="DBGP"/>		
		
		<!-- Werks- und Fertigungssteuererinformationen standardmäßig nicht einlesen -->
		<add key="SQL_IMPORTSRC_plant" value="NULL"/>
		<add key="SQL_IMPORTSRC_productioncontroller" value="NULL"/>
		
		<!-- Pro Topobjekt kann optional eine vom Standard abweichende Datenquelle angegeben werden -->
		<!-- SQL_IMPORTSRC_<topobject>, wobei <topobject> durch den Schlüssel des Topobjekttyps ersetzt werden muss -->
		<!-- Beispiele: -->
		<!-- <add key="SQL_IMPORTSRC_workcenter" value="DBConfig"/> -->
		<!-- <add key="SQL_IMPORTSRC_resourcestatus" value="NULL"/> -->
		
		<!-- Wählbare Datenquellen für Systemdaten (Journaleinträge, Systemnutzer und Systemsperren). Erlaubte Werte: DBGP, REST, Dll -->
		<add key="SYSTEMDATA" value="DBGP"/>
	</datasource>
	<interface>
		<!-- Es können optionale Aliasnamen für alle Eigenschaften gewünschter Objekttypen festgelegt werden -->
		<!-- Aliasnamen werden beim Import über DBConfig und XMLConfig sowie beim Export verwendet -->
		<!-- Hinweis: In Oracle-Datenbanken können nur Spaltennamen mit maximal 30 Zeichen verwendet werden. Dann müssen Aliasnamen verwendet werden -->
		<!-- Folgend sind alle Eigenschaften aufgezählt, bei denen der Name länger als 30 Zeichen ist -->		
		<!--
		<add key="ALIAS_material:purchase_time_quantity_dependent" value="purchase_time_quantity_dependent"/>
		<add key="ALIAS_material:purchase_time_quantity_independent" value="purchase_time_quantity_independent"/>
		<add key="ALIAS_workcenter:setup_static_time_needless_criteria" value="setup_static_time_needless_criteria"/>
		<add key="ALIAS_workcenter:setup_mandatory_optimization_criteria" value="setup_mandatory_optimization_criteria"/>
		<add key="ALIAS_workcentergroup_workcenter:workingtimemodel_workcentergroup_id" value="workingtimemodel_workcentergroup_id"/>
		<add key="ALIAS_prt:maintenance_interval_quantity_unit_id" value="maintenance_interval_quantity_unit_id"/>
		<add key="ALIAS_workergroup_worker:workingtimemodel_workergroup_id" value="workingtimemodel_workergroup_id"/>
		<add key="ALIAS_modelparameter:allow_overlap_activity_type_setup" value="allow_overlap_activity_type_setup"/>
		<add key="ALIAS_modelparameter:allow_overlap_activity_type_wait" value="allow_overlap_activity_type_wait"/>
		<add key="ALIAS_modelparameter:allow_change_worker_activity_time_min" value="allow_change_worker_activity_time_min"/>
		<add key="ALIAS_modelparameter:capital_commitment_interest_rate" value="capital_commitment_interest_rate"/>
		<add key="ALIAS_modelparameter:auto_confirm_child_productionorders" value="auto_confirm_child_productionorders"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_earliest_start_initial" value="info_date_earliest_start_initial"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_earliest_start_material" value="info_date_earliest_start_material"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_earliest_end_material" value="info_date_earliest_end_material"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_latest_start_material" value="info_date_latest_start_material"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_earliest_start_scheduling" value="info_date_earliest_start_scheduling"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_earliest_end_scheduling" value="info_date_earliest_end_scheduling"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_latest_start_scheduling" value="info_date_latest_start_scheduling"/>
		<add key="ALIAS_productionorder_operation_activity:info_date_latest_end_scheduling" value="info_date_latest_end_scheduling"/>
		<add key="ALIAS_resultinfo:count_productionorder_incomplete" value="count_productionorder_incomplete"/>
		-->
	</interface>
    <idtemplates>
		<!-- <fn> = Freie Nummer (optional mit Angabe der Stellen) -->
		<!-- <sn> = Sequentielle Nummer (optional mit Angabe der Stellen) -->
		<!-- <y> = Jahr -->
		<!-- <m> = Monat -->
		<!-- <d> = Tag -->
		<!-- <h> = Stunde -->
		<!-- <mi> = Minute -->
        <add key="default" value="<fn>"/>
		<add key="productionorder" value="<sn6>"/>
		<add key="purchaseorder" value="<sn6>"/>
		<add key="productionorder_lot" value="-<fn>"/>	<!-- als Prefix wird automatisch immer die ID des Originalauftrags davorgestellt -->
    </idtemplates>
</configuration>
