<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<application>
		<!-- report decimal digits -->
		<add key="REPORT_DIGITS" value="2"/>
		<!-- report shows formula error messages -->
		<add key="REPORT_FORMULA_SHOW_ERROR" value="true"/>
		
		<!-- time buffer in report 'sales orders overview' (in seconds) -->
		<add key="REPORT_SALESORDERS_OVERVIEW_TIMEBUFFER" value="604800"/>
		<!-- convert quantities into this unit in all reports of type production_quantities_... -->
		<!-- <add key="REPORT_PRODUCTION_QUANTITIES_UNIT_ID" value="kg"/> -->
		
		<!-- respected interval types in utilization calculation (e.g. if blocked and reserved intervals should not be considered you have to remove these entries) -->
		<!-- <add key="REPORT_UTILIZATION_TYPES" value="PROCESSING|SETUP|WAITING|EXTERNAL|RESERVED|BLOCKED"/> -->
		
		<!-- gantt color range when creating a random color-->
		<add key="GANTT_COLOR_RANDOM_MIN" r="0" g="0" b="0"/>
		<add key="GANTT_COLOR_RANDOM_MAX" r="255" g="255" b="255"/>
	</application>
	<project>
		<!-- Sicherheitsbestand während des MRP beachten -->
		<!-- true: Sicherheitsbestand/Sperrbestand bei MRP beachten -->
		<!-- false: Sicherheitsbestand/Sperrbestand bei MRP nicht beachten (obwohl am Material angegeben) -->
		<add key="MRP_CHECK_SICHERHEITSBESTAND" value="true" />
		<!-- true: Die Menge in allen Materialbeziehungen (fixierte und nicht fixierte) wird zu Beginn des MRP automatisch auf die undefinierte Menge (-1.0) gesetzt -->
		<!-- false: Die Menge in Materialbeziehungen wird nicht automatisch verändert, es gilt der importierte Wert -->
		<add key="MRP_RESET_LINKMENGE" value="false" />
		<!-- true: fremdbezogenes Material so früh wie möglich verbrauchen -->
		<!-- false: fremdbezogenes Material so früh wie nötig verbrauchen -->
		<add key="MRP_FIFO_FB" value="false" />
		<!-- true: Vermeidung zu früher unvollständiger Reservierungen für eigengefertigtes Material (frühere Reservierungen freigegeben, wenn sowieso auf spätere Reservierung gewartet werden muss) -->
		<!-- false: unvollständige Reservierungen für eigengefertigtes Material werden genutzt -->
		<add key="MRP_AVOID_EARLY_INCOMPLETE_RESERVATIONS_EF" value="true" />
		<!-- true: Vermeidung zu früher unvollständiger Reservierungen für fremdbezogenes Material (frühere Reservierungen freigegeben, wenn sowieso auf spätere Reservierung gewartet werden muss) -->
		<!-- false: unvollständige Reservierungen für fremdbezogenes Material werden genutzt -->
		<add key="MRP_AVOID_EARLY_INCOMPLETE_RESERVATIONS_FB" value="true" />
		<!-- true: fremdbezogenes Material anhand Planungsergebnis neu reservieren/terminieren -->
		<!-- false: fremdbezogenes Material anhand MRP reservieren/terminieren -->
		<!-- Hinweis: Wenn aktiviert, passt die Fremdbezug-Materialverteilung besser zum Ergebnis, erschwert aber die Analyse der Planungsursachen -->
		<add key="MRP_OPT_FB" value="false" />
		<!-- Modus für die Umterminierung von Bestellvorschlägen, falls MRP_OPT_FB nicht aktiviert ist -->
		<!-- 0: Bestelltermin so früh wie möglich -->
		<!-- 1: Bestelltermin auf Basis der initialen Grobplanung bestimmen (eigengefertigtes Material hat auch Einfluss auf den Bestelltermin) -->
		<!-- 2: Bestelltermin auf Basis der Grobplanung mit fremdbezogenem Material bestimmen (anderes fremdbezogenes Material hat auch Einfluss auf den Bestelltermin) -->
		<!-- 3: Bestelltermin auf Basis des tatsächlich geplanten Starts bestimmen -->
		<add key="MRP_FB_DUEDATE_MODE" value="1" />
		<!-- Anfangsbestand -->
		<!-- Der Material-Verbrauch/Input welcher Vorgangs-Status ist bereits im Anfangsbestand enthalten: GESTARTET|TRUECK|BEENDET -->
		<add key="MRP_ANFBESTAND_VERBRAUCH_STATUS" value="" />
		<!-- Verbrauchsmenge laut Vorgang/FA -->
		<!-- true: Die Bruttomenge am FA gibt an, für welche verbleibende Menge die Verbrauchsmengen aller Vorgänge des FAs zu reservieren sind. -->
		<!-- false/default: Die Bruttomenge am Vorgang gibt an, für welche Menge die Verbrauchsmengen des Vorgangs zu reservieren sind. -->
		<add key="MRP_VERBRAUCH_MENGE_FAKOPF" value="false" />
		<!-- Der Material-Zugang/Output welcher Vorgangs-Status ist bereits im Anfangsbestand enthalten: GESTARTET|TRUECK|BEENDET -->
		<add key="MRP_ANFBESTAND_ZUGANG_STATUS" value="" />
		<!-- Soll die rückgemeldete produzierte Menge (bereits hergestelltes Material) als im Anfangsbestand enthalten angenommen werden? -->
		<!-- true: Rückgemeldete Menge wurde schon im Anfangsbestand eingebucht (ist dort also schon enthalten) und wird somit nicht nochmal zum Zeitpunkt der Fertigstellung in den Bestand eingebucht. -->
		<!-- false: Rückgemeldete Menge ist noch nicht im Anfangsbestand enthalten. Die gesamte Menge wird somit erst zum Zeitpunkt der Fertigstellung in den Bestand eingebucht. -->
		<add key="MRP_CONFIRMED_QUANTITY_IN_INITAL_STOCK" value="false" />		
		<!-- Zugangsmenge laut Vorgang/FA -->
		<!-- true/Sonderfall: Die Nettomenge am FA gibt an, welche verbleibende Menge von den letzten Vorgängen geliefert wird. Nur zu verwenden, wenn es immer eindeutigen letzten Vorgang gibt! -->
		<!-- false/default: Die Nettomenge an letzten Vorgängen gibt an, welche Menge geliefert wird. -->
		<add key="MRP_ZUGANG_MENGE_FAKOPF" value="false" />
		<!-- FAs, deren hergestelltes Material nicht benötigt wird, bekommen als Termin PZR-Ende -->
		<!-- true/Sonderfall: PZR-Ende für alle FAs, welche keinen Primärauftrag/Bedarf decken, keinen negativen Anfangsbestand auffüllen und auch keinen Sicherheits/Sperrbestand decken -->
		<!-- false/default: nicht benötigte FAs bekommen nicht zwangsweise PZR-Ende als Termin gesetzt -->
		<add key="MRP_PZRENDE_NICHT_BENOETIGTE_FA" value="false" />
		<!-- Sichtbarkeit der während des MRP automatisch angelegten Bedarfe zur Deckung des Sicherheitsbestands -->
		<!-- true/Sonderfall: während MRP automatisch erstelle Bedarfe um Sicherheitsbestand zu decken bleiben erhalten -->
		<!-- false/default: Sicherheitsbestandsbedarfe werden am Ende des MRPs wieder gelöscht -->
		<add key="MRP_BEHALTE_SB_BEDARFE" value="false" />
		<!-- Dürfen sich Prognosebedarfe mit Sicherheitsbestands- und Lagerbedarfen verrechnen? -->
		<!-- true/Sonderfall: Sicherheitsbestands- und Lagerbedarfe dürfen die prognostizierte Menge reduzieren -->
		<!-- false/default: Sicherheitsbestands- und Lagerbedarfe dürfen die prognostizierte Menge nicht reduzieren -->
		<add key="MRP_REDUZIERE_PB_MIT_SB" value="false" />
		<!-- Modus zur Auswahl (binär kombinierbar), welche ausgehenden Materialbeziehungen Einfluss auf die automatische Anpassung von Termin, Priorität und Planungstyp haben -->
		<!-- 0: alle Verursacher haben Einfluss auf Termin, Priorität und Planungstyp -->
		<!-- 1: Bedarfe in Materialbeziehung mit Menge kleiner-gleich 0 haben keinen Einfluss -->
		<!-- 2: Kundenbedarfe priorisiert betrachten (falls Materialbeziehungen zu echten Kundenbedarfen vorhanden, dann werden nur diese beachtet, andere Bedarfstypen haben dann keinen Einfluss) -->
		<add key="MRP_AUTOUPDATE_MODE" value="0" />
		<!-- Modus zur Auswahl (binär kombinierbar), welche Eigenschaften bei der automatischen Anpassung von Termin, Priorität und Planungstyp nicht angepasst werden, obwohl die automatische Anpassung aktiv ist -->
		<!-- 0: keine, d.h. bei aktivierter automatischer Anpassung werden alle Eigenschaften angepasst (Standard) -->
		<!-- 2: Termin wird nicht automatisch angepasst -->
		<!-- 4: Priorität wird nicht automatisch angepasst -->
		<!-- 8: Planungstyp wird nicht automatisch angepasst -->
		<add key="MRP_PRODUCTIONORDER_FIXEDPROPERTIES" value="0" />
		
		<!-- Werden die Materialbeziehungen von fixiert oder stabil zu planenden Vorgängen flexibel behandelt? -->
		<!-- true/Sonderfall: Materialbeziehungen von fixiert oder stabil zu planenden Vorgängen werden neu ermittelt, falls flexible Beziehungen aktiviert -->
		<!-- false/default: Materialbeziehungen von fixiert oder stabil zu planenden Vorgängen werden nicht neu ermittelt, lediglich deren Menge darf angepasst werden -->
		<add key="MRP_RELINK_FIXSTART" value="false" />
		<!-- Sollen vorhandene Materialbeziehungen ohne echte Menge nach Abschluss des MRPs automatisch gelöscht werden? Dies betrifft auch fixierte Materialbeziehungen sowie Beziehungen von stabil/fixiert geplanten Vorgängen -->
		<!-- true/Sonderfall: Materialbeziehungen ohne echte Menge werden automatisch gelöscht -->
		<!-- false/default: Materialbeziehungen ohne echte Menge bleiben erhalten -->
		<add key="MRP_DELETE_RELATIONS_WITHOUT_QUANTITY" value="false" />
		<!-- Wie sollen Bedarfe zum Auffüllen des Sicherheitsbestands behandelt werden? -->
		<!-- true/default: Sie dürfen sich erst benötigtes Verbrauchsmaterial reservieren, wenn alle anderen Objekte damit fertig sind. Somit können sie keinen anderen Objekten Material zu früh "wegnehmen". -->
		<!-- false/Sonderfall: Sie werden gleichwertig gegenüber allen anderen Objekten bei der Reservierung von Verbrauchsmaterial angesehen. Somit können diese Bedarfe ihr Verbrauchsmaterial früher reservieren und dieses auch anderen Objekten wegnehmen. -->
		<add key="MRP_SAFETYSTOCK_REFILL_LAST" value="true" />
		
		<!-- MRP Sortieroptionen -->
		<!-- Übersicht der möglichen Sortierkriterien -->
		<!-- Sortierkriterien können komma-getrennt angegeben werden. Zwei Objekte werden in der Reihenfolge der angegeben Sortierkriterien verglichen. -->
		<!-- Sobald sich zwei Objekte bzgl. eines Sortierkriteriums unterscheiden, wird dieses Sortierkriterium für den Vergleich verwendet. -->
		<!-- Damit ein deterministisches Verhalten sichergestellt ist, sollte schlussendlich immer nach Objekt-ID und Objekttyp verglichen werden. -->
		<!-- Folgende Kriterien sind nur für Materialbereitsteller möglich -->
		<!-- 	0: Materialbereitsteller aufsteigend sortiert nach Buchungszeitpunkt -->
		<!-- 	1: Materialbereitstellung aus Lager wichtiger als andere Materialbereitsteller -->
		<!-- 	2: Materialbereitstellung von Bestellung wichtiger als andere Materialbereitsteller -->
		<!-- 	3: Materialbereitstellung von Fertigungsauftrag/Vorgang wichtiger als andere Materialbereitsteller -->
		<!-- Folgende Kriterien sind für Materialbereitsteller und -verbraucher möglich -->
		<!-- 	8:  aufsteigend sortiert nach Start eines Auftrags -->
		<!-- 	9:  aufsteigend sortiert nach Anzahl noch offener (nicht begonnener) Vorgänge in einem Auftrag (Fortschritt des Auftrags) -->
		<!-- 	10: aufsteigend sortiert nach Anzahl noch offener (nicht begonnener) Vorgänge in einem mindestens gestarteten Auftrag (Fortschritt des Auftrags) -->
		<!-- 	11: benötigte Aufträge sind wichtiger als nicht benötigte -->
		<!-- 	12: aufsteigend sortiert nach frühstem Start eines stabilen oder fixierten Vorgangs des Auftrags (Aufträge mit stabilen oder fixierten Vorgängen sind somit immer wichtiger als Aufträge ohne diese Vorgänge) -->
		<!-- 	13: aufsteigend sortiert nach frühstem Start eines mindestens gestarteten Vorgangs des Auftrags (Aufträge mit mindestens gestarteten Vorgängen sind somit immer wichtiger als Aufträge ohne diese Vorgänge) -->
		<!--	14: gestartete Aufträge sind wichtiger als nicht gestartete Aufträge -->
		<!-- 	15: geplante Aufträge sind wichtiger als ungeplante/teilgeplante Aufträge -->
		<!-- 	20: aufsteigend sortiert nach Vorgangsstart eines stabilen oder fixierten Vorgangs (stabile oder fixierte Vorgänge sind somit immer wichtiger als nicht stabile oder fixierte Vorgänge) -->
		<!-- 	21: aufsteigend sortiert nach Vorgangsstart eines mindestens gestarteten Vorgangs (gestartete Vorgänge sind somit auch wichtiger als nicht gestartete Vorgänge) -->
		<!--	22: gestartete Vorgänge sind wichtiger als nicht gestartete Vorgänge -->
		<!-- 	30: sortiert nach Planungstyp (Optimierung/Anfrage sind wichtiger als Zusatzanfragen) -->
		<!-- 	31: aufsteigend sortiert nach Prioritätswert (Rangfolge) -->
		<!-- 	32: aufsteigend sortiert nach anfallenenden Verspätungskosten -->
		<!-- 	33: aufsteigend sortiert nach Termin -->
		<!-- 	34: nach Primärbedarfstyp sortiert (echte Kundenbedarfe sind wichtiger als Prognose- und Lagerbedarfe) -->
		<!-- 	40: sortiert nach Objekt-ID (lexikographisch) -->
		<!-- 	41: sortiert nach Objekttyp (lexikographisch) -->
		
		<!-- Für einfacher Anpassung: Übersetzung alter MRP-Sortiermodi in die Schreibweise der neuen Sortierkriterien -->
		<!-- MRP_LINKMODE 0: Materialverknüpfung anhand der Kombination [Termin, Fortschritt] vom Verbraucher entscheiden (bei gleichem Termin ist der Verbraucher wichtiger, welcher weniger noch zu planende Vorgänge hat, also weiter fortgeschritten ist) -->
		<!-- MRP_LINKMODE 1: Materialverknüpfung anhand der Kombination [Fix/Stabil-Start, Planungstyp, Priorität, Termin, Fortschritt] vom Verbraucher entscheiden -->
		<!-- MRP_LINKMODE 2: Materialverknüpfung anhand der Kombination [Bedarfstyp, Termin, Fortschritt] entscheiden. Echte Kundenbedarfe sind wichtiger als Lager- und Prognosebedarfe. Bei gleicher Wichtigkeit entscheidet der Termin/Fortschritt wie bei Modus 0 -->
		<!-- MRP_LINKMODE 3: Materialverknüpfung anhand der Kombination [Fix/Stabil-Start, Termin, Fortschritt] vom Verbraucher entscheiden -->
		<!-- früher 0: 11,33,10,40,41 -->
		<!-- früher 1: 11,13,12,30,31,32,33,10,40,41 -->
		<!-- früher 2: 11,34,33,10,40,41 -->
		<!-- früher 3: 11,13,12,33,10,40,41 -->
			
		<!-- Sortierkriterien für Materialverbraucher bei der Eigenfertigung (komma-getrennt die Sortierkriterien angeben, in welcher Reihenfolge verglichen werden soll) -->
		<add key="MRP_SORT_CONSUMER_INHOUSEPRODUCTION" value="11,33,10,40,41" />
		<!-- Sortierkriterien für Materialverbraucher beim Fremdbezug (komma-getrennt die Sortierkriterien angeben, in welcher Reihenfolge verglichen werden soll) -->
		<add key="MRP_SORT_CONSUMER_PURCHASE" value="11,13,12,30,31,32,33,10,40,41" />
		
		<!-- Übersicht der Werte für die Angabe des maximalen Suchezeitpunkts im Bestandsverlauf -->
		<!-- 	0: Suche ab Ist-Linie bis zum Buchungszeitpunkt (Zeitpunkt ab wann das Material bereitsteht) -->
		<!--	1: Suche ab Ist-Linie bis zur maximalen Wartezeit (falls angegeben, sonst bis zum Planungszeitraumende) -->
		<!--	2: Suche ab Ist-Linie bis zum Planungszeitraumende -->
		
		<!-- Übersicht erlaubten Materialbereitsteller (Werte dürfen auch binär kombiniert angegeben werden) -->
		<!-- 	1: Lagerbestand -->
		<!--	2: Lieferantenbestellung -->
		<!--	4: Bedarf -->
		<!--	8: Fertigungsauftragsvorgang selbst ist bde-gemeldet, start-fixiert oder stabil geplant -->
		<!--	16: Fertigungsauftragsvorgang selbst ist bde-gemeldet oder Fertigungsauftrag ist bde-gemeldet und Vorgang ist entweder start-fixiert oder stabil geplant -->
		<!--	32: Fertigungsauftrag ist bde-gemeldet -->
		<!--	64: Fertigungsauftrag ist offen -->
		<!--    Beispielhafte Binärkombination -->
		<!--    3: Terminsichere Materialbereitsteller (Binärkombination von Lagerbestand und Lieferantenbestellung) -->
		<!--    120: Terminunsichere Materialbereitsteller (Binärkombination der restlichen Materialbereitsteller) -->
		<!--    127: Alle (Binärkombination aller Werte) -->
		
		<!-- Durch | getrennt können mehrere Regelsätze angegeben werden, nach welchen ein gültiger Materialbereitsteller gesucht wird -->
		<!-- Durch ; getrennt werden pro Regelsatz drei Werte: [maximaler Suchezeitpunkt];[erlaubte Materialbereitsteller];[Sortierkriterien] -->
		<!-- Durch , getrennt werden die erlaubten Materialbereitsteller und Sortierkriterien -->
		<!-- Es dürfen beliebig viele Regelsätze definiert werden. Sobald in einem Regelsatz ein gültiger Materialbereitsteller gefunden wurde bricht die Suche ab. -->
		
		<!-- Algorithmus für die Suche nach Materialbereitstellern für die sortierten Materialverbraucher bei der Eigenfertigung -->
		<add key="MRP_SORT_PROVIDER_INHOUSEPRODUCTION" value="0;1,2,8,16;0,40,41|2;1,2,16,32;0,40,41|1;127;0,40,41" />
		
		<!-- Algorithmus für die Sortierung von Materialbereitstellern aus Beziehungen ohne Mengenangabe (undefinierte Menge) -->
		<add key="MRP_SORT_PROVIDER_UNDEFINED_QUANTITY_LINKS" value="2;127;1,2,22,14,33,40,41" />
		
		<!-- Kürzestes zu planendes Zeitintervall in Sekunden, alle Geplanten Zeiten und Dauern sind Vielfache dieses Wertes. Muss ein Teiler von 60 Minuten sein. -->
		<add key="SCHEDULE_TIME_UNIT" value="60"/>
		
		<!-- Sollen alternative Vorgänge ohne Vorgänger/Nachfolger die jeweilige Relationen aus dem Standard Vorgang mit derselben Vorgangsnummer übernehmen? -->
		<!-- Wenn dieser Paremeter aktiviert ist, dann sind Arbeitspläne mit alternativen Vorgängen aus der DB30 mit der BD31 immer kompatibel. -->
		<!-- Es wird empfohlen Vorgänger-/Nachfolgerrelationen immer explizit anzugeben, da diese Kompatibilität nur temporär garantiert wird. -->
		<add key="COMPATIBLE_OPERATION_RELATIONS_FROM_STANDARD_OPERATION" value="true"/>
		
		<!-- Automatisch berechnete Sekundärauftragstermine nicht vor frühestem realisierbaren Ende? -->
		<add key="OPT_AUTO_DUEDATES_REALIZABLE" value="false"/>
		
		<!-- Losgrößenoptimierung -->
		<!-- Terminabstand (in Sekunden) von FAs welche noch zusammengefasst werden dürfen -->
		<add key="LOSOPT_ZEITHORIZONT" value="1209600" />
		<!-- Kriterium für Bewertungsfunktion, welche ermittelt welche FAs am besten zusammengefasst werden können -->
		<!-- 0: ähnlicher Termin und Erreichen optimaler Losgröße gleich wichtig -->
		<!-- 1: ähnlicher Termin wichtiger als Erreichen optimaler Losgröße -->
		<!-- 2: Erreichen optimaler Losgröße wichtiger als ähnlicher Termin -->
		<add key="LOSOPT_SORTMODE" value="0" />
		<!-- true: ein Auftrag wird nicht mit einem anderen Auftrag zusammengefasst, wenn er sich dadurch verspäten würde -->
		<!-- false: zusätzliche Verspätung wird nicht beachtet -->
		<add key="LOSOPT_VERSPAETUNG_PRUEFEN" value="true" />
		<!-- Losgrößen bei bestimmten Planungstypen nicht beachten -->
		<!-- Zu ignorierende Typen können binär kombiniert werden (0: keine, 1: Optimierung, 2: vollwerte Anfrage, 4: Zusatzanfrage ohne Termin, 8: Zusatzanfrage mit Termin ) -->
		<!-- Sollen zum Beispiel keine Zusatzanfragen beachtet werden, dann wäre der Wert 12, sollen alle Typen ignoriert werden, dann wäre der Wert 15 -->
		<add key="LOSOPT_IGNORED_PLANNINGTYPES" value="0" />
		
		<!-- Soll ein Fertigungsauftrag automatisch freigegeben werden, wenn dieser manuell erstellt, geändert oder im Leitstand modifiziert wurde? -->
		<!-- true/default : Fertigungsauftrag wird freigegeben -->
		<!-- false: Fertigungsauftrag wird nicht freigegeben -->
		<add key="PRODUCTIONORDER_APPROVE_AUTO" value="true" />
		
		<!-- Strategie zur Einplanungsfreigabe von Vorgängen während der automatischen Planung -->
		<!-- VORGANGEINZELN: Freigabe wenn alle Materialabhängigkeiten des Vorgangs geplant sind -->
		<!-- FAKOMPLETT: Freigabe wenn alle Materialabhängigkeiten des gesamten FAs geplant sind -->
		<add key="OPT_PLANUNGSFREIGABE" value="VORGANGEINZELN" />
		
		<!-- Belegungsreihenfolge auf Arbeitsplätzen -->
		<!-- Strenges Überholverbot auf Arbeitsplatzen: Lücken vor bereits geplanten Vorgängen werden nicht aufgefüllt -->
		<!-- *: Überholverbot auf allen Arbeitsplätzen -->
		<!-- |: Aufzählen der Arbeitsplatz-IDs, getrennt mit | -->
		<add key="SCHEDULE_ORDER_BACK_WORKCENTER" value=""/>
		<!-- Strenges Überholverbot auf Arbeitsplätzen im stabilen Zeitraum: Lücken vor bereits geplanten Vorgängen werden nicht aufgefüllt -->
		<add key="SCHEDULE_ORDER_STABLE" value="true" />
		<!-- Anpassung des Überholverbots im stabilen Zeitraum und bei Korrekturplanen/Lücken Schließen für Arbeitsplätze ohne Belegungsprüfung -->
		<!-- 0: Ein Überholverbot gilt auch für Arbeitsplätze ohne Belegungsprüfung -->
		<!-- 1: Ein Überholverbot gilt nicht für Arbeitsplätze ohne Belegungsprüfung -->
		<add key="SCHEDULE_ORDER_STABLE_TYPE" value="1" />
		<!-- Freigegebene FA vor nicht freigegebenen FA auf Arbeitsplätzen -->
		<add key="SCHEDULE_ORDER_APPROVED" value="false" />
		
		<!-- Belegungsreihenfolge auf FHM -->
		<!-- Strenges Überholverbot auf FHM: Lücken vor bereits geplanten Vorgängen werden nicht aufgefüllt -->
		<!-- *: Überholverbot auf allen FHM -->
		<!-- |: Aufzählen der FHM-IDs, getrennt mit | -->
		<add key="SCHEDULE_ORDER_BACK_PRT" value=""/>
		
		<!-- dürfen Vorgänge, welche zuvor nicht im stabilen Zeitraum lagen, diesen auffüllen -->
		<!-- true/default: zuvor nicht im stabilen Zeitraum geplante Vorgänge dürfen in den stabilen Zeitraum geplant werden -->
		<!-- false/Sonderfall: zuvor nicht im stabilen Zeitraum geplante Vorgänge dürfen erst ab Ende stabilen Zeitraum eingeplant werden (ausgenommen manuell verschobene Vorgänge) -->
		<add key="STABIL_ZEITRAUM_AUFFUELLEN" value="true" />
		<!-- Soll die Startzeit von im stabilen Zeitraum liegenden Vorgängen beibehalten werden (weiche Schranke) -->
		<!-- true/default: Es wird versucht diese Vorgänge exakt an die gleiche Position wie zuvor zu planen -->
		<!-- false/Sonderfall: Diese Vorgänge dürfen neue Planzeiten bekommen (stabiler Zeitraum wird von vorn aufgefüllt) -->
		<add key="STABIL_START_FIXIERT" value="true" />
		<!-- Sollen Pausen aus der Dauer des stabilen Zeitraums rausgerechnet werden -->
		<add key="STABIL_ZEITRAUM_AZM" value="true" />		
		<!-- Stabile Reihenfolge verletzen, um Restriktionenen MaxPuffer, Job, sequentielle Linie oder Reservierung in der stabilen Planung einzuhalten? -->
		<add key="STABIL_RESTRIKTIONEN_PRUEFEN" value="true"/>

		<!-- Vorgänge werden gesplittet, falls definiert -->
		<add key="PLANUNG_VORGANGSPLITTEN" value="true" />
		<!-- Pausen werden bei der Überlappungsberechnung einbezogen ja/nein, falls ja besteht die Gefahr das der Nachfolger "leerläuft" -->
		<add key="PLANUNG_UEBERLAP_PAUSEN" value="false" />
		<!-- Dürfen Fertigungsversionen gewechselt werden? -->
		<add key="OPT_CHOOSE_PRODUCTION_VERSION" value="true" />
		<!-- Welcher Zeitpunkt entscheidet über die Gültigkeit einer Fertigungsversion für einen Auftrag? 0: Bedarfs-/Auftragstermin (Standard)  1: max(Istlinie, frühester Start des Auftrags) -->
		<add key="OPT_PRODUCTIONVERSION_VALIDITY_MODE" value="0" />
		<!-- Engpassterminierung: spätestens zum (spätesten Start - Wert_ZF_Termin * minimalen Puffer) starten -->
		<add key="OPT_VORWAERTSRESERVEZEITMIN" value="259200" />
		<!-- Engpassterminierung: frühestens zum (spätesten Start - maximalen Puffer) starten -->
		<add key="OPT_VORWAERTSRESERVEZEITMAX" value="2592000" />
		
		<!-- Berechnung des Planungsstatus (ok, kritisch, verspätet, nicht eingeplant) abhängig von Parent-FAs -->
		<!-- true/Sonderfall: Der Planungsstatus eines Sekundärauftrages erbt den Planungsstatus des Primärauftrags. -->
		<!-- false/default: Der Planungsstatus eines Sekundärauftrages ist nicht abhängig von Primäraufträgen. Er wird eigenständig ermittelt. -->
		<add key="OPT_SCHEDULINGSTATUS_FROM_PARENTS" value="false"/>
		
		<!-- welche Sortierkriterien sollen beachtet/genutzt werden -->	
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_PLANUNGSTYP" value="true" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_BDESTATUS_FA" value="false" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_STATUS_FA" value="false" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_PRIO" value="true" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_PRIO_VORGANG" value="true" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_STATUS_FA_NETZWERK" value="false" />
		<add key="APLANCACHE_KRITERIEN_APLANCACHE_SPLIT" value="false" />
		
		<!-- Auswahltiefe einschränken -->
		<add key="APLANCACHE_VORAUSWAHL" value="-1" />
		<add key="APLANCACHE_NACHAUSWAHL" value="-1" />
		
		<!-- Maximale Anzahl von Detailprüfungen pro Rüstoptimierungsschritt (0 = unbeschränkt) -->
		<add key="OPT_SETUPOPT_EVALMAX" value="5" />
		
		<!-- Grober Zeithorizont für ideale Rüstgruppierung; beeinflusst Planung; keine harte Ergebnisregel -->
		<add key="OPT_CLUSTER_RUEST" value="1209600" /> 		<!-- 14 Tage: max. Abstand SStart für Gruppierung -->
				
		<!-- harte zeitschranken für Rüst/Belegungs-Opt in Sekunden-->
		<add key="OPT_RUESTMAXFRUEH" value="-1" />
		<add key="OPT_RUESTMAXVERSP" value="-1" />

		<!-- Ruest/Belegungszwang ordnet sich der harten Prioritäten unter? ja/nein -->
		<add key="OPT_ZWANG_PRIO" value="true" />

		<!-- Experimentell: Maximale Dauer einer Pause zwischen zwei Bearbeitungsintervallen eines Personals an einem Vorgang -->
		<!-- bevor dies als Unterbrechung gewertet wird und die Prüfung auf die minimale Bedienlänge ohne Unterbrechung neu startet -->
		<add key="OPT_PERSONAL_MAXPAUSE" value="-1" />
		
		<!-- automatisch Rüstpositionen für dynamisches Rüsten anlegen -->
		<add key="OPT_RUESTPOS_AUTOCREATE" value="true" />
		
		<!-- Sollen immer auftragsbezogene Arbeitspläne/Stücklisten bei Fertigungsaufträgen verwendet werden? -->
		<!-- true: Es werden automatisch immer auftragsbezogene Arbeitspläne/Stücklisten erstellt/verwendet. -->
		<!-- false: Es werden automatisch nur dann auftragsbezogene Arbeitspläne/Stücklisten erstellt/verwendet, wenn diese sich von ihrer Vorlage unterscheiden. -->
		<add key="OPT_ALWAYS_ORDER_RELATED_ROUTING_BOM" value="false" />
		
		<!-- automatische Anpassung der Bedarfstermine für Demodatenbanken-->
		<add key="DEMO_BEDARFSTERMINE" value="false"/>
		
		<!-- Regel für die Interpretation der alternativen FHM-Gruppen im Arbeitsplan -->
		<!-- 0: Alle FHMs aus einer Gruppe sind zu verwenden (ganze FHM-Gruppen sind zueinander alternativ). -->
		<!-- 1: Ein FHM aus jeder Gruppe ist zu verwenden. Die Auswahl des gleichen FHMs aus mehreren Gruppen ist nicht erlaubt. -->
		<!-- 2: Ein FHM aus jeder Gruppe ist zu verwenden. Die Auswahl des gleichen FHMs aus mehreren Gruppen ist erlaubt. Die resultierende Belegung ist die Summe der Einzelbelegungen der gleichen FHMs. -->
		<!-- 3: Ein FHM aus jeder Gruppe ist zu verwenden. Die Auswahl des gleichen FHMs aus mehreren Gruppen ist erlaubt. Die resultierende Belegung ist die des FHMs mit der größten Belegung. -->
		<add key="PRT_GROUP_TRANSFORM_TYPE" value="0"/>
		
		<!-- Maximale Zeit in Sek. zwischen Vorgaenger und Rüstoptimierten Nachfolger auf Maschine / Ab welcher Zeitspanne gilt Maschine als ungerüstet / (-1==inf) -->
		<add key="OPT_RUESTMAXRESERVE" value="-1"/>
		<!-- Lücke zwischen Vorgaenger und Rüstoptimierten Nachfolger auf Maschine wird blockiert (reserviert) -->
		<add key="OPT_RUESTMAXRESERVE_BLOCKIEREN" value="true"/>
		
		<!-- Regel für Ermittlung des Rüstzustandes eines Arbeitsplatzes innerhalb des reservierten Zeitraumes (siehe OPT_RUESTMAXRESERVE) -->
		<!-- false/default: Der Rüstzustand wird immer anhand des direkten Vorgängers auf dem Arbeitsplatz ermittelt. -->
		<!-- true: Der Rüstzustand wird anhand des letzten Vorgängers auf dem Arbeitsplatz, der eine Rüstaktivität mit potentieller Dauer/Kosten hat, ermittelt. -->
		<add key="OPT_KEEP_SETUP_WORKCENTER" value="false"/>
		
		<!-- Intern: Verfahrensauswahl für initiale Planreihenfolge (0:Vorgangstermin,1:Auftragstermin,2:Vorgangstermin+Verspätungskosten,3:Auftragstermin+frühster Start)-->
		<add key="OPT_QUEUE_INITMODE" value="3"/>
		<!-- Kriterium zur Initialisierung der deterministischen Sortierung von Ressourcen -->
		<!-- 'ORDER': Gleiche Initialisierung der Sortierung für alle Vorgänge pro Auftrag -->
		<!-- 'OPERATION': Gleiche Initialisierung der Sortierung pro Vorgang -->
		<!-- Sonst: Keine gleiche Initialisierung der Sortierung erzwingen  -->
		<add key="OPT_OPERATION_RESOURCE_BALANCE_TYPE" value="ORDER"/>
		
		<!-- true: Bei Unterbrechung wird ein neuer Splitt mit der bereits gefertigten Menge angelegt. Der Vorgang selbst enthält nur noch die zu fertigende Restmenge. -->
		<!-- false: Es wird kein Splitt mit der bereits gefertigten Menge angelegt (beendeter Anteil wird vergessen). Der Vorgang selbst enthält nur noch die zu fertigende Restmenge. -->		
		<add key="BDE_UNTERBROCHEN_SPLITT" value="true"/>
		
		<!-- Der Status des noch zu fertigenden Anteils nach einer Unterbrechung. Mögliche Werte sind: UNGEPLANT, GEPLANT, GESTARTET -->
		<add key="BDE_UNTERBROCHEN_STATUS_RESTANTEIL" value="UNGEPLANT"/>
		
		<!-- Terminierung eines unbekannten (zuvor nicht gemeldeten) Vorgangsstarts beim automatischen Rückmelden -->
		<!-- true/default: Start wird anhand des gemeldeten Ende automatisch terminiert (Start = Ende - Basisdauer des Vorgangs) -->
		<!-- false/Sonderfall: Start wird auf Ende gesetzt, Vorgang hat keine Zeit verbraucht -->
		<add key="BDE_AUTORUECKMELDEN_AUTOTERMINIEREN" value="true"/>
		
		<!-- Soll ein BDE gemeldeter Vorgang zusammenhängend geplant werden oder darf eine mindestens gestartete Rüstposition aus einem Vorgang separat vorgezogen werden, -->
		<!-- ohne das die nachfolgende Position (z.B. Fertigen) mit vorgezogen wird? -->
		<!-- true/default: Der ganze Vorgang (z.B. Rüsten + Fertigen) wird vorgezogen und zusammenhängend geplant -->
		<!-- false/Sonderfall: Die Rüstposition wird einzeln vorgezogen. Die nachfolgende Position (z.B. Fertigen) hält die Restriktionen zum vorherigen Vorgang ein -->
		<add key="BDE_VORGANG_KOMPLETT" value="true"/>
		
		<!-- Pro Vorgangsposition kann der über mehrere Meldungen verteilt gemeldete aktuelle Fortschritt mengenmäßig zusammengefasst werden -->
		<!-- 0: nur die Menge aus der aktuellsten Meldung gilt -->
		<!-- 1: Mengen aus allen gültigen BDE-Meldungen über alle Arbeitsplätze hinweg werden kumuliert -->
		<!-- 2: Mengen aus der jeweils neusten BDE-Meldung pro gemeldeten Arbeitsplatz werden kumuliert -->
		<add key="BDE_ACCUMULATE_PROGRESS" value="0"/>

		<!-- Modus für automatische Rückmeldung -->
		<!-- 1: Maximalen Fortschritt der Vorgänger annehmen (beendet, falls Nachfolger mind. gestartet)-->
		<!-- 2: Erwarteten Fortschritt der Vorgänger annehmen (mind. gestartet, falls Nachfolger mind. gestartet, bisherige Planung/Meldung berücksichtigen)-->
		<!-- 3: Minimalen Fortschritt der Vorgänger annehmen (mind. gestartet, falls Nachfolger mind. gestartet, bisherige Planung/Meldung nicht berücksichtigen)-->
		<add key="BDE_AUTOCONFIRM_TYPE" value="2"/>

		<!-- Sollen ausgehende Materialbeziehungen von nicht gemeldeten Sekundäraufträgen zu einem gemeldeten Vorgang des Primärauftrags automatisch an einen nicht gemeldeten Nachfolger umgesetzt werden? -->
		<!-- true/default: Ja -->
		<!-- false: Nein (Achtung: Die indirekte Beziehung zu nicht gemeldeten Vorgängen des Primärauftrags geht verloren, da die direkte Beziehung zum Primärauftrag nicht zwingend gehalten werden kann.) -->
		<add key="BDE_AUTO_REPAIR_ORDER_RELATION" value="true"/>
		
		<!-- Sollen ausgehende Vorgangsbeziehungen von nicht gemeldeten Vorgängern eines gemeldeten Vorgangs automatisch an einen nicht gemeldeten Nachfolger umgesetzt werden? -->
		<!-- true/default: Ja -->
		<!-- false: Nein (Achtung: Die indirekte Beziehung zu nicht gemeldeten Vorgängen des Auftrags geht verloren, da die direkte Beziehung zum gemeldeten Vorgang nicht zwingend gehalten werden kann.) -->
		<add key="BDE_AUTO_REPAIR_OPERATION_RELATION" value="true"/>
		
		<!-- Innerhalb einer Produktionslinie dürfen sich Aufträge nicht überholen. -->
		<add key="SCHEDULE_ORDER_LINE" value="false"/>
		
		<!-- Bereits vorhandene Splits eines Vorgangs werden vor der Planung verworfen, falls "automatisch splitten" am Vorgang aktiviert -->
		<add key="OPT_SPLIT_RELEASE" value="true"/>
		<!-- Direkt aufeinanderfolgend geplante Splits eines Vorgangs werden zusammengeführt, falls "automatisch splitten" am Vorgang aktiviert -->
		<add key="OPT_SPLIT_MERGE" value="true"/>
		<!-- Soll der Wert für die minimale Splitanzahl beim Zusammenführen von Splits beachtet werden? -->
		<add key="OPT_SPLIT_MERGE_RESPECT_MIN_SPLIT" value="true"/>
		
		<!-- Grundzustand des Arbeitszeitmodells -->
		<!-- 0: Automatisch: Wenn Schichtmodell vorhanden, dann Grundzustand 'Pause', sonst 'verfügbar' -->
		<!-- 1: Grundzustand 'verfügbar' -->
		<!-- 2: Grundzustand 'Pause' -->
		<add key="WORKINGTIMEMODEL_INITIAL_ALLOCATION" value="0" />
		
		<!-- Dürfen Schichtmodelle gemischt werden? -->
		<!-- true: Schichtmodell aus Gruppe, von welcher das Arbeitszeitmodell geerbt wird, dazu mischen. Schichtmodell der Einzelressource hat Priorität. Es gelten weiterhin die Gültigkeitszeiträume der Schichtmodelle, es werden keine Inhalte zusammengeführt. -->
		<!-- false: Schichtmodelle werden nicht gemischt. Entweder es gilt das Schichtmodell der Gruppe, falls Arbeitszeitmodell geerbt wird, oder das an der Einzelressource angegebene Schichtmodell -->
		<add key="WORKINGTIMEMODEL_MERGE_GROUP_SHIFTMODEL" value="false" />

		<!-- Prioritätsboni: Wenn Bedingung erfüllt, wird die Priorität für die Verplanung des Mitarbeiters (maximal) um den angegebenen Wert erfüllt -->
		<!-- Faktor für Priorität aus Arbeitsplatzqualifikation -->
		<add key="OPT_WORKER_PRIO_WORKCENTERQUALIFICATION" value="1.0" />
		<!-- Mitarbeiter bleibt am Arbeitsplatz -->
		<add key="OPT_WORKER_PRIO_KEEP_WORKCENTER" value="0.25" />
		<!-- Mitarbeiter bleibt am Vorgang -->
		<add key="OPT_WORKER_PRIO_KEEP_OPERATION" value="0.25" />
		<!-- Mitarbeiter bleibt von äquivalenten Vorgangsposition vom Vorgänger im Fertigungsauftrag -->
		<add key="OPT_WORKER_PRIO_KEEP_PREDECESSOR" value="0.25" />
		<!-- Mitarbeiter bleibt von äquivalenten Vorgangsposition vom Vorgänger im Sekundär-Fertigungsauftrag -->
		<add key="OPT_WORKER_PRIO_KEEP_CHILD_ORDER" value="0" />
		<!-- Maximaler Prioritätsbonus für geringere Personalkosten -->
		<add key="OPT_WORKER_PRIO_COSTS" value="0" />
		<!-- Prioritätsbonus für Mitarbeiter mit verfügbarer Kapazität innerhalb der definierten Wartezeit -->
		<add key="OPT_WORKER_PRIO_WAITTIME" value="0" />
		<!-- Länge der Wartezeit für den Wartezeitprioritätsbonus in Sekunden (muss >= 0 sein) -->
		<add key="OPT_WORKER_PRIO_WAITTIME_DURATION" value="0" />
				
		<!-- Modus für die automatische Arbeitsplatzqualifikation des Personals -->
		<!-- 0: Keine automatische Qualifikation (Standard bis 5.6) -->
		<!-- 1: Wenn es für keinen Arbeisplatz qualifizierte Mitarbeiter gibt, dann sind automatisch alle Mitarbeiter für alle Arbeisplätze qualifiziert (Standard ab 5.7) -->
		<!-- 2: Wenn es für einen Arbeisplatz keine qualifizierte Mitarbeiter gibt, dann sind automatisch alle Mitarbeiter für diesen Arbeisplatz qualifiziert -->
		<add key="OPT_WORKER_AUTO_WORKCENTERQUALIFICATION_MODE" value="1" />

		<!-- Dauer der automatischen Belegung von geplantem Personal ohne gegebene Belegungsintervalle (0: keine automatische Belegung, -1: komplette Dauer, sonst Dauer in Minuten) -->
		<add key="OPT_AUTO_WORKER_INTERVAL_DURATION" value="30" />
		
		<!-- Maximale Abweichung (in Minuten) von Vorgabe für gleichmäßige manuelle Verschiebung (-1 = inaktiv) -->
		<add key="MANUAL_MOVE_MAXDIFFSTART" value="-1" />
		<!-- Sicherstellen der Auftragsbeziehungen bei gleichmäßiger manueller Verschiebung -->
		<add key="MANUAL_MOVE_RESPECT_ORDER_RELATIONS" value="true" />
		<!-- Sicherstellen der Vorgangsbeziehungen bei gleichmäßiger manueller Verschiebung -->
		<add key="MANUAL_MOVE_RESPECT_OPERATION_RELATIONS" value="true" />
		
		<!-- Linienauswahl gilt über Nicht-Linienvorgänge hinweg -->
		<!-- default: false, Nach Unterbrechung durch einen Nicht-Linienvorgang kann eine neue Linie gewählt werden. -->
		<add key="OPT_KEEP_LINE_ACROSS_GAPS" value="false" />
		<!-- Gültigkeit der Linienauswahl auf die Menge der Vorgänge mit gleichem Kennzeichen in der angegebenen Eigenschaft einschränken, default = "" -->
		<!-- Example: "info3" = Infofeld3 der FA-Vorgangsposition; "productionorder.productionorder_id" = Auftragsnummer -->
		<add key="OPT_KEEP_LINE_MARKER" value="" />
		<!-- Spezielle Rüstoptimierung für sequentielle Linien -->
		<add key="OPT_LINESEQ_SETUPOPT" value="false" />

		<!-- Zusätzlicher Einplanungsaufwand, um günstigere Planung des MaxPuffer-Nachfolgers zu realisieren -->
		<!-- 0 = inaktiv, 1 = einfache Prüfung, > 1 = erweiterte Prüfung -->
		<add key ="OPT_MAXBUFFER_SHIFTS" value = "0"/>

		<!-- Angefangene Verspätungskostenintervalle anteilig werten -->
		<add key ="OPT_PRIORITY_LATENESSCOST_PARTIAL_INTERVALS" value="true" />

		<!-- Bei welchen Aktivitätstypen soll der Geschwindigkeitsfaktor am Arbeitsplatz beachtet werden (binär kombinierbar) -->
		<!-- 1 = Fertigen, 2 = Rüsten, 8 = Fremdfertigen -->
		<!-- Standard: 11 = Rüsten, Fertigen und Fremdfertigen -->
		<add key = "OPT_WORKCENTER_FACTOR_SPEED_MODE" value ="11" />

		<!-- Anpassung der Restriktionen für die automatische Planung -->
		<!-- Sollen startzeitfixierte Vorgänge die Verfügbarkeit von zugehörigen Lieferantenbestellungen beachten? -->
		<add key ="RESTRICTIONS_FIXEDSTART_PURCHASEORDERS" value = "true"/>
		
		<!-- Welche Materialbeziehungstypen haben, falls für einen Materialverbrauch gewählt, keinen Einfluss auf die Terminierung einer Aktivität (binär kombinierbar) -->
		<!-- 0 = keine, 1 = Materialmangel, 2 = Sekundärauftrag, 4 = Lieferantenbestellung, 8 = Lagerentnahme -->
		<!-- Standard: 15 = alle Typen -->
		<add key="RESTRICTIONS_ALLOW_MATERIAL_SHORTAGE_TYPES" value="15"/>
		
		<!-- Wie sollen Entscheidungsbäume für Alternativen simuliert werden? -->
		<!-- 0 = einfache Simulation, 1 = erweiterte Simulation -->
		<add key="OPT_SIMULATION_MODE" value="0" />
		
		<!-- Kann die Fertigungsauftrags-Id für ein erzeugtes Auftragslos vom Nutzer gewählt werden?-->
		<add key="PRODUCTIONORDER_LOT_ALLOW_CUSTOM_ID" value="true" />

		<!-- Parameter zur Anpassung der Basis-Prioritäten zwischen den Optimierungsläufen -->
		<!-- Intensität der systematische Anpassung (0: only random adaption, 1: only result evaluation based adaption) -->
		<add key="OPT_PRIORITY_ADAPTION" value = "0.33"/>
		<!-- Maximale Höhe der Anpassung pro Priorität pro Optimierungslauf, alle Prioritäten sind skaliert auf [0,1] -->
		<add key="OPT_PRIORITY_ADAPTION_MAX" value = "0.003"/>
		
		<!-- EXPERIMENTELL -->
		<!-- Vorgänge von gestarteten Aufträgen immer vorwärtsterminiert ()so früh wie möglich) einplanen --> 
		<add key="OPT_BDE_VORWAERTS" value = "false"/>
		<!-- Durchlaufzeit pro Auftrag limitieren: Geplante Durchlaufzeit <= Faktor * Minimale Durchlaufzeit, falls >=1, sonst inaktiv -->
		<!-- Tipp: kombinieren mit APLANCACHE_KRITERIEN_APLANCACHE_STATUS_FA == true -->
		<add key="OPT_MAXDLZ_FAKTOR" value = "-1"/>
		<!-- Grobterminierung kontinuierlich aktualisieren -->
		<add key="OPT_ALWAYS_UPDATE_ROUGHSCHEDULE" value="false" />
		<!-- Tatsächlich realisierbaren Start der Kandidaten während der Entscheidung für Rüstoptimierung live berechnen anstatt auf Grobplanung zu verlassen -->
		<add key="OPT_RUESTOPT_SIMSTART" value="false" />
		<!-- Reservierte Ressourcen bevorzugt einplanen -->
		<add key="OPT_PREFER_RESERVED_RESOURCES" value="true"/>
		<!-- Sollen unterbrechbare sequentielle Jobs verfügbar sein? -->
		<add key="OPT_ENABLE_INTERRUPTIBLE_JOBS" value="false" />
		<!-- Sollen Produktmix-Reihenfolgen beachtet werden? -->
		<add key="OPT_ENABLE_PRODUCTMIX" value="false" />

		<!-- Modus für die Vorgangspriorisierung in der Korrekturplanung/Lücken Schließen-->
		<!-- 1 = Priorisierung nach geplantem Startzeitpunkt 2 = Priorisierung, wie in der stabilen Planung, nach Planlevel und geplantem Startzeitpunkt -->
		<add key="MANUAL_REPAIR_SCHEDULE_PRIO_MODE" value="1" />
		
		<!-- Modus für die speziellen Rüstoptimierung für sequentielle Linien -->
		<!-- 0 = standard Modus 1 = eingeschränkter Modus -->
		<add key="OPT_LINESEQ_SETUPOPT_MODE" value="0" />
		<!-- Sollen weitere Arbeitsplätze auf rüst-/belgungsoptimimale Kandidaten geprüft werden, wenn die Rüst-/Belgungsoptimierung für einen Arbeitsplatz keine Kandidaten akzeptiert hat -->
		<!-- Achtung: Falls aktiviert, ist mit höherer Laufzeit der Planung zu rechnen -->
		<add key="OPT_SETUPOPT_RETRY_ALL_WORKCENTERS" value="false" />

		<!-- Prüfung der Arbeitsplatz-Losgrößen ausschließlich anhand der materialspezifischen Umrechnung von 1 mal Material-Referenzeinheit in Zieleinheit, -->
		<!-- um anhand von Materialeigenschaften zu filtern, unabhängig von Vorgangsmenge (default: false) -->
		<add key="OPT_WORKCENTER_CHECK_LOTSIZE_PER_UNIT" value="false" />

		<!-- Startfixierte Vorgänge dürfen in der automatischen Planung (inkl. Lücken schließen und Korrekturplanen) die maximale Belegung auf fixierten Ressourcen überschreiten -->
		<add key="OPT_FIXED_START_AND_RESOURCE_IGNORE_MAX_ALLOCATION" value="false" />
		
		<!-- In welchem Aktivitätstyp (binär kombinierbar) soll eine nicht zugwiesene Stücklistenposition bevorzugt genutzt werden. -->
		<!-- Wenn der erste Vorgang eines Auftrags keine Aktivität von diesem Typen hat, dann wird die Stücklistenposition in der ersten Aktivität genutzt. -->
		<!-- 1 = Fertigen, 2 = Rüsten, 4 = Liegen, 8 = Fremdfertigen und z.B. 3 = Fertigen oder Rüsten --> 
		<add key="MRP_AUTO_ASSIGN_MATERIAL_TO_ACTIVITY_TYPES" value="15" />
	
		<!-- Hinzufügen des Keys erlaubt das Nutzen des Max-Splitting-Modus --> 
		<!-- <add key="OPT_MAX_SPLITTING_AVAILABLE" /> --> 
		
		<!-- DEBUG -->		
		<!-- Im MRP-Log die Ausgabe von Informationen auf die hier angegebenen Materialien einschränken (mehrere IDs mittels Pipe | trennen) -->
		<!-- Leer lassen, wenn zu allen Materialien Informationen in die Log-Datei geschrieben werden sollen -->
		<add key="DEBUG_MRP_MATERIAL" value = ""/>
		
		<!-- Auswahlkriterien beim Reduzieren des Modells -->
		<!-- Gezielt Fertigungsaufträge anhand ihrer ID behalten (mehrere IDs mittels Pipe | trennen) -->
		<add key="DEBUG_REDUCEMODEL_KEEP_PRODUCTIONORDERS" value = ""/>
		
		<!-- Alle Fertigungsaufträge und Bedarfe behalten, welche die angegebenen Materialien herstellen oder verbrauchen (mehrere IDs mittels Pipe | trennen) -->
		<add key="DEBUG_REDUCEMODEL_KEEP_MATERIALS" value = ""/>
		
		<!-- Alle Fertigungsaufträge behalten, welche die angebenen Ressourcen nutzen (mehrere IDs mittels Pipe | trennen) -->
		<add key="DEBUG_REDUCEMODEL_KEEP_RESOURCES" value = ""/>
		
		<!-- Fertigungsaufträge eines bestimmten Status immer erhalten (gestartet, beendet, usw.) -->
		<!-- 0: kein Fertigungsauftrag wird ausschließlich auf Grund seines Status behalten -->
		<add key="DEBUG_REDUCEMODEL_KEEP_PRODUCTIONORDER_WITH_STATUS" value = "0"/>
		
		<!-- Ausschlusskriterien beim Reduzieren des Modells -->
		<!-- Fertigungsaufträge die nicht einen bestimmten Status haben (gestartet, beendet, usw.) löschen (wirkt wie ein Filter) -->
		<!-- -1: Ausschlusskriterium wird nicht beachtet -->
		<add key="DEBUG_REDUCEMODEL_DELETE_PRODUCTIONORDERS_NOT_STATUS" value = "-1"/>
		
		<!-- Optionen zum Reduzieren des Modells -->
		<!-- Soll der früheste Start fest anhand der Information über den bisherigen Start aus der Grobplanung mir fremdbezogenen Material (info_date_earliest_start_material) gesetzt werden? -->
		<add key="DEBUG_REDUCEMODEL_SET_EARLIEST_START" value = "false"/>
		<!-- Alle verbleibende Fertigungsaufträge freigeben? -->
		<add key="DEBUG_REDUCEMODEL_SET_APPROVED" value = "true"/>
		<!-- Sollen Sekundäraufträge der behaltenen Fertigungsaufträge erhalten bleiben (nur eine Ebene)? -->
		<add key="DEBUG_REDUCEMODEL_KEEP_SECONDARY_PRODUCTIONORDERS" value = "true"/>
		<!-- Alle Bedarfe löschen? -->
		<add key="DEBUG_REDUCEMODEL_DELETE_SALESORDERS" value = "true"/>
		<!-- Nicht benötigtes Material löschen? -->
		<add key="DEBUG_REDUCEMODEL_DELETE_UNUSED_MATERIALS" value = "true"/>
		<!-- Nicht benötigte AP/STL löschen? -->
		<add key="DEBUG_REDUCEMODEL_DELETE_UNUSED_ROUTINGS_AND_BOMS" value = "true"/>
		<!-- Sollen vorhandene BDEs entfernt und der Status in Vorgängen zurückgesetzt werden? -->
		<add key="DEBUG_REDUCEMODEL_RESET_CONFIRMATIONS" value = "false"/>
		<!-- Protokolleinträge über Aktionen und Datenänderungen löschen? -->
		<add key="DEBUG_REDUCEMODEL_RESET_JOURNALS" value = "true"/>
	</project>	
</configuration>
