@{
    ViewBag.Title = "Simulation Comparing";
    Layout = "_Layout";
    int simid = (int)ViewData[index: "simId"];
    int simNr = (int)ViewData[index: "simNr"];
    string simName = (string)ViewData[index: "simName"]; 
}
<style>
    .modal-dialog {
        width: 95%;
        height: 80%;
        overflow-x: auto;
        overflow-y: auto;
    }
    .modal-dialog > .modal-content {
        padding-top: 25px;
        height: 100%;
    }

</style>
<h2>Simulation Comparing for - @simName </h2>
	

<hr/>
<div class="container-fluid">
    <div class="row">
        <div id="decentralcontent" class="col-lg-6 collapse show">
            <div class="row">
                <div class="col-lg-12">
                    <div style="font-size: x-large" class="float-left">
                        <b>Decentral</b>
                    </div>
                    <!-- asp-route="SimulationTimeline/SimulationCompare/-1/Decentral/3/1/@simid"
                    -->
                    <a href="/SimulationCompare/SimulationTimeline/-1/3/0/Decentral/@simid/1" data-target="#modal-container" data-toggle="modal" class="btn btn-outline-secondary btn-sm float-right">
                        <i class="fa fa-tasks fa-1x fa-unset"></i>
                    </a>
                    <button class="btn btn-outline-secondary btn-sm float-right" onclick="togglDecentral()">
                        <i class="fa fa-eye-slash fa-1x fa-unset"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-sm float-right" onclick="MachineWorkLoads(@simid, 'Decentral', @simNr, 0)">Total</button>
                    <button class="btn btn-outline-secondary btn-sm float-right" onclick="MachineWorkLoads(@simid, 'Decentral', @simNr, 1)">Over Time</button>
                    <!-- Machine Workloads -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div id="machineWorkload_Decentral" class="machineWorkload loading"></div>
                    <!-- Machine Workloads -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Product Lead Times (boxplot excluding outliers)</h4>
                    <div id="leadtime_Decentral" class="loading"></div>
                    <!-- Lead Time -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Order Timeliness</h4>
                    <div id="timeliness_Decentral" class="loading"></div>
                    <!-- Order Timeliness -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Order Distribution</h4>
                    <div id="orderevolution_Decentral" class="loading"></div>
                    <!-- Order Times -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Stock Evolution</h4>
                    <div id="stockevolution_Decentral" class="loading"></div>
                    <!-- Stock Evolution -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Article Idle Time</h4>
                    <div id="ArticleIdlePeriod_Decentral" class="loading"></div>
                    <!-- Idle Times -->
                </div>
            </div>
        </div>
        <div id="centralcontent" class="col-lg-6 collapse show">
            <div class="row">
                <div class="col-lg-12">
                    <div style="font-size: x-large" class="float-left">
                        <b>Central</b>
                    </div> <a href="/SimulationCompare/SimulationTimeline/-1/Central/3/1/@simid/0"
                              data-target="#modal-container" data-toggle="modal" class="btn btn-outline-secondary btn-sm float-right">

                               <i class="fa fa-tasks fa-1x fa-unset"></i>

                    </a>
                    <button class="btn btn-outline-secondary btn-sm float-right"
                            onclick="togglCentral()">
                        <i class="fa fa-eye-slash fa-1x fa-unset"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-sm float-right" onclick="MachineWorkLoads(@simid, 'Central', @simNr, 0)">Total</button>
                    <button class="btn btn-outline-secondary btn-sm float-right" onclick="MachineWorkLoads(@simid, 'Central', @simNr, 1)">Over Time</button>
                    <!-- Machine Workloads -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div id="machineWorkload_Central" class="machineWorkload loading"></div>
                    <!-- Machine Workloads -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Product Lead Times (boxplot excluding outliers)</h4>
                    <div id="leadtime_Central" class="loading"></div>
                    <!-- Lead Time -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Order Timeliness</h4>
                    <div id="timeliness_Central" class="loading"></div>
                    <!-- Order Timeliness -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Order Distribution</h4>
                    <div id="orderevolution_Central" class="loading"></div>
                    <!-- Order Times -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Stock Evolution</h4>
                    <div id="stockevolution_Central" class="loading"></div>
                    <!-- Stock Evolution -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Article Idle Time</h4>
                    <div id="ArticleIdlePeriod_Central" class="loading"></div>
                    <!-- Idle Times -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="loading center-div"> </div>
            </div>
        </div>
    </div>


    <script>

        $(document).ready(function () {
            $('#main').removeClass("container").addClass("container-fluid").css("overflow-x", "hidden");
            MachineWorkLoads(@simid, "Decentral", @simNr, 0);
            MachineWorkLoads(@simid, "Central", @simNr, 0);
            Timeliness(@simid, "Decentral", @simNr);
            Timeliness(@simid, "Central", @simNr);
            ProductLeadTime(@simid, "Decentral", @simNr);
            ProductLeadTime(@simid, "Central", @simNr);
            StockEvolution(@simid, "Decentral", @simNr);
            StockEvolution(@simid, "Central", @simNr);
            OrderEvolution(@simid, "Decentral", @simNr);
            OrderEvolution(@simid, "Central", @simNr);
            ArticleIdlePeriod(@simid, "Central", @simNr);
            ArticleIdlePeriod(@simid, "Decentral", @simNr);
            // Load Parts
        });

        function togglDecentral() {
            var dc = $('#decentralcontent');
            if (dc.hasClass("show")){
                dc.removeClass("show");
                $('#centralcontent').removeClass("col-lg-6").addClass("col-md-8 offset-2");
            }
        };

        function togglCentral() {
            var cc = $('#centralcontent');
            if (cc.hasClass("show")){
                cc.removeClass("show");
                $('#decentralcontent').removeClass("col-lg-6").addClass("col-md-8 offset-2");
            }
        };


        function MachineWorkLoads(simulationId, simType, simNr, overTime) {
            $.ajax({
                url: "/SimulationCompare/MachinesWorkLoad/" + simulationId + "/" + simType + "/" + simNr + "/" + overTime,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#machineWorkload_' + simType).removeClass('loading');
                $('#machineWorkload_' + simType).html(data);
            });
        }


        function Timeliness(simulationId, simType, simNr) {
            $.ajax({
                url: "/SimulationCompare/Timeliness/" + simulationId + "/" + simType + "/" + simNr,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#timeliness_' + simType).removeClass('loading');
                $('#timeliness_' + simType).html(data);
            });
        }

        function ProductLeadTime(simulationId, simType, simNr) {
            $.ajax({
                url: "/SimulationCompare/ProductLeadTimeBoxPlot/" + simulationId + "/" + simType + "/" + simNr,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#leadtime_' + simType).removeClass('loading');
                $('#leadtime_' + simType).html(data);
            });
        }

        function StockEvolution(simulationId, simType, simNr) {
            $.ajax({
                url: "/SimulationCompare/StockEvolution/" + simulationId + "/" + simType + "/" + simNr,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#stockevolution_' + simType).removeClass('loading');
                $('#stockevolution_' + simType).html(data);
            });
        }

        function OrderEvolution(simulationId, simType, simNr) {
            $.ajax({
                url: "/SimulationCompare/OrderEvolution/" + simulationId + "/" + simType + "/" + simNr,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#orderevolution_' + simType).removeClass('loading');
                $('#orderevolution_' + simType).html(data);
            });
        }

        function ArticleIdlePeriod(simulationId, simType, simNr) {
            $.ajax({
                url: "/SimulationCompare/IdlePeriod/" + simulationId + "/" + simType + "/" + simNr,
                async: true,
                context: document.body
            }).done(function (data) {
                $('#ArticleIdlePeriod_' + simType).removeClass('loading');
                $('#ArticleIdlePeriod_' + simType).html(data);
            });
        }

        function loadGantt(orderId, stateId, page, type, config, simNr) {
        var source = "/SimulationCompare/SimulationTimeline/" + orderId + "/"+ stateId + "/" + page + "/" + type + "/" + config + "/" + simNr;
        $.ajax({
            url: source,
            //url: "Mrp/ReloadGantt/" + orderId + "/" + stateId,
            async: true,
            context: document.body,
            beforeSend: function () {
                // and empty the modal-content element
                $('#modal-container .modal-content').empty().html("<div class='loading center-div' />");
            },
            success: function (msg) {
            },
            error: function () {
                $(document).ajaxError(function (xhr, ajaxOptions, thrownError) {
                    alert('status: ' +
                        ajaxOptions.status +
                        '-' +
                        ajaxOptions.statusText +
                        ' \n' +
                        'error:\n' +
                        ajaxOptions.responseText);
                });
            }
        }).done(function (data) { $('.modal-content').html(data); });
    }
    </script>
