@{
    ViewData[index: "Title"] = "Contact";
}

<h2>@ViewData[index: "Title"].</h2>
<h3>@ViewData[index: "Message"]</h3>
<div class="chart" id="chart"></div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div class="row" style="border-bottom: 2px solid; border-left: 2px solid; width: 100px;">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 30px; color: transparent; height: 60px; border-top: 2px solid grey">
        <div class="row">
            <div class="col-md-6" style="border-right: 2px solid grey; height: 60px"></div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1" style="color: grey; height: 40px; border: solid 2px;"></div>
    <div class="col-md-10 col-md-offset-1" style="color: grey; height: 27px; border: solid 2px;"></div>
    <div class="col-md-10 col-md-offset-1" style="margin-bottom: 15px; color: transparent; height: 15px; border-bottom: 2px solid grey">
        <div class="row">
            <div class="col-md-6" style="border-right: 2px solid grey; height: 15px"></div>
        </div>
    </div>
</div>