@model IEnumerable<Master40.Models.MenuItem>
<div class="jumbotron">
    <h1>Industrial Enterprise Resource Planning</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome Master ERP 4.0</h2>
        <p>
            This Projekt is a sample ERP application that
            demonstrates production planning on an Industrial 4.0 environment.
        </p>
    </div>
    <div class="col-md-4">
        <p style="text-align: center; vertical-align: central; padding-top: 25px;">
            <img src="~/images/data-flow-chart.svg" width="50%" height="50%"/>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Database Actions</h2>
        <p>
            You can load the Database with three Models of diffrent complexity
        </p>
        <p>
            <a class="btn btn-danger" href="~/Home/ReloadDb/Tables">Load &raquo;</a> table set
        </p>
        <p>
            <a class="btn btn-danger" href="~/Home/ReloadDb/Trucks">Load &raquo;</a> truck set
        </p>
    </div>

    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://github.com/Krockema/Master-4.0/blob/master/README.md">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Krockema/Master-4.0">See project source code &raquo;</a></p>
    </div>
</div>