<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2011-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<gui>
		<!-- Beschreibung der wincolors: https://msdn.microsoft.com/en-us/library/windows/desktop/ms724371(v=vs.85).aspx -->
	
		<!-- Thema-Farben -->	
		<!-- Hintergrundfarbe von Edit-Controls bei gültigem Datensatz (grün) -->
		<add key="GPCOLOR_101" r="214" g="240" b="193"/>
		<!-- Hintergrundfarbe von Edit-Controls bei ungültigem Datensatz (rot) -->
		<add key="GPCOLOR_102" r="250" g="205" b="184"/>
		<!-- Hintergrundfarbe der Tooltips -->
		<add key="GPCOLOR_104" r="252" g="252" b="252"/>
		<!-- Rahmenfarbe der Tooltips -->
		<add key="GPCOLOR_105" r="212" g="212" b="212"/>
		<!-- Hintergrundfarbe der Separatoren (dünne Linien) : Farbverlauf Verlauf von GPCOLOR_106 nach GPCOLOR_107 -->
		<add key="GPCOLOR_106" r="240" g="130" b="0"/>
		<add key="GPCOLOR_107" r="240" g="130" b="0"/>
		<!-- Button für Szenariomodus starten/beenden -->
		<add key="GPCOLOR_108" r="104" g="176" b="34"/>
		
		<!-- Hintergrundfarbe des Grids bei Mengenreduzierung eines Prognosebedarfs (Materialbeziehung) -->
		<add key="GPCOLOR_109" r="203" g="200" b="200"/>
		
		<!-- kritisch -->
		<add key="GPCOLOR_111" r="240" g="130" b="0"/>
		<!-- verspätet -->
		<add key="GPCOLOR_112" r="255" g="0" b="0"/>
		<!-- nichtgeplant -->
		<add key="GPCOLOR_113" r="234" g="203" b="255"/>
		
		<!-- Farbverlauf Startscreen von GPCOLOR_114 -> nach GPCOLOR_115 -->
		<add key="GPCOLOR_114" r="252" g="252" b="252"/>
		<add key="GPCOLOR_115" r="252" g="252" b="252"/>
		<!-- Schriftfarbe im Startscreen -->
		<add key="GPCOLOR_116" r="20" g="20" b="20"/>
		
		<!-- gestartet -->
		<add key="GPCOLOR_117" r="100" g="255" b="100"/>
		<!-- beendet -->
		<add key="GPCOLOR_118" r="100" g="100" b="100"/>
		
		<!-- Farbe der dünnen horizontalen Trennlinie unterhalb der Haupttoolbar --> 
		<add key="GPCOLOR_120" r="212" g="212" b="212"/>
		<!-- Hintergrundfarbe des Menüs -->
		<add key="GPCOLOR_121" r="246" g="246" b="246"/>
		<!-- Hintergrundfarbe markierter Einträge im Menü (Hover) -->
		<add key="GPCOLOR_122" r="214" g="210" b="210"/>
		<!-- Textfarbe des Menüs --> 
		<add key="GPCOLOR_123" r="0" g="0" b="0"/>
		<!-- Textfarbe des Menüs bei Selektierung --> 
		<add key="GPCOLOR_124" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe des selektierten Items in Kontextmenüs --> 
		<add key="GPCOLOR_125" r="214" g="210" b="210"/>
		<!-- Textfarbe der Items in Kontextmenüs -->  
		<add key="GPCOLOR_126" r="70" g="70" b="70"/>
		<!-- Textfarbe des selektierten Items in Kontextmenüs --> 
		<add key="GPCOLOR_127" r="70" g="70" b="70"/>

		<!-- Rahmenfarbe der Panels --> 
		<add key="GPCOLOR_130" r="212" g="212" b="212"/>
		<!-- Hintergrundfarbe der Panel-Titelleiste (aktiv)--> 
		<add key="GPCOLOR_131" r="248" g="248" b="248"/>
		<!-- Textfarbe der Panel-Titelleiste (aktiv)--> 
		<add key="GPCOLOR_132" r="20" g="20" b="20"/>
		<!-- Hintergrundfarbe der Panel-Titelleiste (inaktiv) --> 
		<add key="GPCOLOR_133" r="248" g="248" b="248"/>
		<!-- Textfarbe der Panel-Titelleiste (inaktiv) --> 
		<add key="GPCOLOR_134" r="20" g="20" b="20"/>
		
		<!-- Rahmenfarbe von Buttons --> 
		<add key="GPCOLOR_140" r="212" g="212" b="212"/>
		<!-- Hintergrundfarbe markierter Buttons (Hover) --> 
		<add key="GPCOLOR_141" r="214" g="210" b="210"/>
		<!-- Hintergrundfarbe gedrückter Buttons (Click) --> 
		<add key="GPCOLOR_142" r="210" g="210" b="210"/>
		<!-- Hintergrundfarbe aktivierter Buttons (Checked) --> 
		<add key="GPCOLOR_143" r="255" g="255" b="255"/>
		<!-- Rahmenfarbe aktivierter Buttons (Checked) (COLOR_HIGHLIGHTTEXT) --> 
		<add key="GPCOLOR_144" wincolor="13"/>

		<!-- Hintergrundfarbe markierter Elemete in TreeCtrl (COLOR_HIGHLIGHT) --> 
		<add key="GPCOLOR_151" wincolor="13"/>
		<!-- Textfarbe markierter Elemete in TreeCtrl (COLOR_HIGHLIGHTTEXT) --> 
		<add key="GPCOLOR_152" wincolor="14"/>
		<!-- Hintergrundfarbe markierter Elemete in TreeCtrl, wenn das Control keinen Fokus besitzt --> 
		<add key="GPCOLOR_154" r="214" g="210" b="210"/>
		<!-- Textfarbe markierter Elemete in TreeCtrl, wenn das Control keinen Fokus besitzt --> 
		<add key="GPCOLOR_155" r="0" g="0" b="0"/>
		<!-- Rahmenfarbe der TreeCtrls -->
		<add key="GPCOLOR_164" r="212" g="212" b="212"/>
		
		<!-- Hintergrundfarbe des Navigationsbaums --> 
		<add key="GPCOLOR_150" r="248" g="248" b="248"/>
		<!-- Textfarbe nicht markierter Elemete im Navigationsbaum --> 
		<add key="GPCOLOR_153" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe markierter Elemete im Navigationsbaum (COLOR_HIGHLIGHT) --> 
		<add key="GPCOLOR_156" wincolor="13"/>
		<!-- Textfarbe markierter Elemete im Navigationsbaum (COLOR_HIGHLIGHTTEXT) --> 
		<add key="GPCOLOR_157" wincolor="14"/>
		<!-- Hintergrundfarbe markierter Elemete im Navigationsbaum, wenn das Control keinen Fokus besitzt --> 
		<add key="GPCOLOR_158" r="214" g="210" b="210"/>
		<!-- Textfarbe markierter Elemete im Navigationsbaum, wenn das Control keinen Fokus besitzt --> 
		<add key="GPCOLOR_159" r="0" g="0" b="0"/>
		
		<!-- Hintergrundfarbe der Statusleiste -->
		<add key="GPCOLOR_168" r="248" g="248" b="248"/>
		<!-- Textfarbe der Statusleiste --> 
		<add key="GPCOLOR_169" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe der Statusleiste, wenn Anwendung beschäftigt (busy) --> 
		<add key="GPCOLOR_160" r="248" g="248" b="248"/>
		<!-- Textfarbe der Statusleiste, wenn Anwendung beschäftigt (busy) --> 
		<add key="GPCOLOR_161" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe der Statusleiste, wenn im Ergebnis --> 
		<add key="GPCOLOR_162" r="240" g="130" b="0"/>
		<!-- Textfarbe der Statusleiste, wenn im Ergebnis --> 
		<add key="GPCOLOR_163" r="255" g="255" b="255"/>
		<!-- Hintergrundfarbe der Statusleiste, wenn Instant-Planning aktiv --> 
		<add key="GPCOLOR_171" r="240" g="35" b="35"/>
		<!-- Textfarbe der Statusleiste, wenn Instant-Planning aktiv --> 
		<add key="GPCOLOR_172" r="255" g="255" b="255"/>
		<!-- Hintergrundfarbe der Statusleiste, wenn im Szenariomodus --> 
		<add key="GPCOLOR_173" r="104" g="176" b="34"/>
		<!-- Textfarbe der Statusleiste, wenn im Szenariomodus --> 
		<add key="GPCOLOR_174" r="255" g="255" b="255"/>
		<!-- Farbe der Progressbar in der Statusleiste --> 
		<add key="GPCOLOR_175" r="240" g="130" b="0"/>
		
		<!-- Hintergrundfarbe der Haupttoolbar --> 
		<add key="GPCOLOR_165" r="246" g="246" b="246"/>
		<!-- Hintergrundfarbe der Leitstandstoolbar --> 
		<add key="GPCOLOR_166" r="252" g="252" b="252"/>
		<!-- Hintergrundfarbe der Reportoolbar --> 
		<add key="GPCOLOR_167" r="252" g="252" b="252"/>
		<!-- Hintergrundfarbe der Objekttoolbar --> 
		<add key="GPCOLOR_179" r="252" g="252" b="252"/>
				
		<!-- Hintergrundfarbe der Views --> 
		<add key="GPCOLOR_170" r="252" g="252" b="252"/>
		
		<!-- Hintergrundfarbe der Tab-Controls --> 
		<add key="GPCOLOR_180" r="255" g="255" b="255"/>
		<!-- Hintergrundfarbe der nicht selektierten Tabs (Normal) --> 
		<add key="GPCOLOR_181" r="252" g="252" b="252"/>
		<!-- Textfarbe der nicht selektierten Tabs (Normal) --> 
		<add key="GPCOLOR_182" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe der selektierten Tabs (Selected) --> 
		<add key="GPCOLOR_183" r="255" g="255" b="255"/>
		<!-- Textfarbe der selektierten Tabs (Selected) --> 
		<add key="GPCOLOR_184" r="0" g="0" b="0"/>
		<!-- Hintergrundfarbe der Tabs, über denen sich die Maus befindet (Hover) --> 
		<add key="GPCOLOR_185" r="214" g="210" b="210"/>
		<!-- Textfarbe der Tabs, über denen sich die Maus befindet (Hover) --> 
		<add key="GPCOLOR_186" r="0" g="0" b="0"/>
		<!-- Rahmenfarbe der Tab-Controls -->
		<add key="GPCOLOR_187" r="212" g="212" b="212"/>
		<!-- Hintergrundfarbe der Tab-Teilüberschriften -->
		<add key="GPCOLOR_188" wincolor="4"/>
		<!-- Textfarbe der Tab-Teilüberschriften -->
		<add key="GPCOLOR_189" r="119" g="119" b="119"/>
		
		<!-- Hintergrundfarbe der Dialoge --> 
		<add key="GPCOLOR_190" r="252" g="252" b="252"/>
				
		<!-- Hintergrund der fixierten Grid-Kopfzellen -->
		<add key="GPCOLOR_202" r="230" g="230" b="230"/>
		<!-- Textfarbe der fixierten Grid-Kopfzellen -->
		<add key="GPCOLOR_209" r="0" g="0" b="0"/>
		<!-- Hintergrund der Grid-Zellen, wenn editierbar -->
		<add key="GPCOLOR_203" r="255" g="255" b="255"/>	
		<!-- Hintergrund der Grid-Zellen, wenn nicht editierbar -->
		<add key="GPCOLOR_204" r="245" g="245" b="245"/>
		<!-- Hintergrund der Grid-Zellen, wenn selektiert (COLOR_HIGHLIGHT) -->
		<add key="GPCOLOR_205" wincolor="13"/>
		<!-- Rahmen der Grid-Zellen, wenn selektiert (COLOR_HIGHLIGHT) -->
		<add key="GPCOLOR_210" wincolor="14"/>
		<!-- Textfarbe von Grid-Zellen, wenn selektiert (COLOR_HIGHLIGHTTEXT) -->
		<add key="GPCOLOR_208" wincolor="14" />
		<!-- Textfarbe von Grid-Zellen, mit Link -->
		<add key="GPCOLOR_206" r="0" g="110" b="180"/>
		<!-- Hintergrund der Grid-Zellen, wenn Option Zeilenmarkierung im Report aktiviert -->
		<add key="GPCOLOR_207" r="215" g="215" b="215"/>
		<!-- Hintergrund der Grid-Zellen, wenn selektiert, das Grid aber keinen Fokus besitzt -->
		<add key="GPCOLOR_211" r="214" g="210" b="210"/>
		<!-- Rahmen der Grid-Zellen, wenn selektiert, das Grid aber keinen Fokus besitzt -->
		<add key="GPCOLOR_213" r="214" g="210" b="210"/>
		<!-- Textfarbe von Grid-Zellen, wenn selektiert, das Grid aber keinen Fokus besitzt -->
		<add key="GPCOLOR_212" r="0" g="0" b="0" />
		<!-- Farbe der Gridlinien -->
		<add key="GPCOLOR_214" r="212" g="212" b="212"/>
		
		<!-- Farbeinstellungen im Leitstand -->
		<!-- Hintergrundfarbe für Arbeitszeiten (weiß) -->
		<add key="GPCOLOR_300" r="255" g="255" b="255"/>
		<!-- Hintergrundfarbe für Pausezeiten -->
		<add key="GPCOLOR_301" r="230" g="230" b="230"/>
		<!-- Farbe des Grids im Leitstand -->
		<add key="GPCOLOR_302" r="210" g="210" b="210"/>
		<!-- Farbe des Subrasters vom Kalender -->
		<add key="GPCOLOR_303" r="140" g="138" b="138"/>
		<!-- normale Textfarbe für Beschriftungen (z.B. angezeigte Ressourcen, Kalender, ...) -->
		<add key="GPCOLOR_304" r="0" g="0" b="0"/>
		<!-- Textfarbe für nicht ausgewählte angezeigte Ressourcen (inaktiv) -->
		<add key="GPCOLOR_305" r="211" g="211" b="211"/>
		<!-- Balkenmarkierung für freigegebene Fertigungsaufträge -->
		<add key="GPCOLOR_310" r="255" g="255" b="255"/>
		<!-- Balkenmarkierung für fixierte Vorgänge -->
		<add key="GPCOLOR_311" r="14" g="99" b="156"/>
		
		<!-- Farbeinstellungen für den Splashscreen -->
		<!-- Hintergrundfarbe des Splashscreen -->
		<add key="GPCOLOR_400" r="240" g="130" b="0"/>
		<!-- Rahmenfarbe des Splashscreen -->
		<add key="GPCOLOR_401" r="240" g="130" b="0"/>
		<!-- Textfarbe des Splashscreen -->
		<add key="GPCOLOR_402" r="255" g="255" b="255"/>
	</gui>
</configuration>
