<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2008-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<default>
		<add key="opt.default.config"/>
		<add key="interface.default.config"/>
	</default>
	<redirect>
		<add key="*" value="local.config"/>
	</redirect>
	<application>
		<!-- the licence -->
		<!-- PATH_LICENCEFILE: Gibt an, wo die Lizenzdatei liegt -->
		<!-- LICENCE_LOGGING: Gibt an, ob das Logging des Lizensystems angeschalten ist -->
		<!-- PATH_LICENCE_LOGGING: Gibt an, wo das Logging des Lizensystems geschieht -->
		<!-- ohne Wert: Es wird unter Dokumente/Ganttplan gelogged -->
		<!-- mit Wert: Es wird in dem angegebenen Ordner im Unterordner \log\<user>_<host>\ gelogged -->
		<add key="PATH_LICENCEFILE" value="C:\Users\Administrator\Desktop\GanttLizenzJuli2020\HTW Dresden_21-07-2020-11-21_1"/>
		<add key="LICENCE_LOGGING" value="true"/>
		<add key="PATH_LICENCE_LOGGING" value=""/>
		
		<!-- Language-Keys -->
		<add key="LANGUAGE_DEFAULT" value="DE"/>
		<add key="STRINGTABLE_DE" value="shared_DE.lang"/>
		<add key="STRINGTABLE_EN" value="shared_EN.lang"/>
		
		<!-- Show localized numbers in all grids and controls (localized numbers will respect the current locale settings from Windows (Country/Region and language) -->
		<!-- true: Use locale settings from Windows -->
		<!-- false: Use neutral language for numerics -->
		<add key="SHOW_LOCALIZED_NUMERICS" value="false"/>
		
		<!-- Option to output all log entries to the console additionally -->
		<add key="CONSOLE_LOGGING" value="true" />
		
		<!-- custom User Dll -->
		<add key="USERDLL" value=""/>
	</application>
</configuration>
