<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2015-2020 DUALIS GmbH IT Solution - All Rights Reserved -->
<configuration>
	<version/>
	<gui>
	
		<!-- Angabe, ob die Icongröße entsprechend der Windows-Skalierungsstufe angepasst werden soll
		true: 	Icongröße wird angepasst (Default)
		false: 	Icongröße wird nicht angepasst -->		
		<add key="SCALE_ICONS" value="true"/>
	
		<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		
		Erklärung:	Der Großteil der Icons in GANTTPLAN hat die Standardgröße 16x16. Falls die Größe eines Icons vom Standard abweicht, ist dessen Standardgröße
					im Kommentar hinter dem Config-Eintrag hinterlegt. Die Standardgröße gilt für eine Skalierungsstufe von 100%. Es können auch größere Bilder verwendet werden, die
					Bildrelation sollte aber erhalten bleiben. Anstatt 16x16 kann also auch ein Icon mit 24x24 verwendet werden. Das Icon wird dann entsprechend skaliert.
		
		Hinweis: 	Kann ein Icon nicht erfolgreich geladen werden (Datei nicht gefunden, falsches Dateiformat etc.), dann wird stattdessen das Standardicon geladen und ein entsprechender
					Eintrag in die GANTTPLAN-Logdatei geschrieben.
		
		Folgende Pfadangaben können genutzt werden:
		
			Absolute Pfadangaben
				"C:\Icons\Mustericon.ico"
			Relative Pfadangaben
				"Mustericon.ico" - Icon liegt im selben Verzeichnis wie GANTTPLAN.exe
				"..\Mustericon.ico" - Icon liegt im übergeordneten Ordner der GANTTPLAN.exe
				"Unterordner/Mustericon.ico" - Icon liegt in einem Unterverzeichnis der GANTTPLAN.exe
					
		Folgende Dateiformate können geladen werden:
		
			PNG (mit Transparenz)
			BMP (mit Transparenz - RGB(255,0,255) als transparente Farbe oder über Alpha-Kanal)
			ICO (mit Transparenz (32bit-Farbtiefe notwendig))
			TIF/TIFF (mit Transparenz)
			GIF (keine Transparenz, im Original transparenter Bereich wird weiß)
			JPG/JPEG (keine Transparenz)
			
		---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	
		<add key="ICON_ARROW_LEFT" value=""/>
		<add key="ICON_ARROW_RIGHT" value=""/>
		<add key="ICON_ARROW_DOWN" value=""/> <!-- size: 20 x 20 -->		
		<add key="ICON_ARROW_UP" value=""/> <!-- size: 20 x 20 -->
		<add key="ICON_CONFIGURATION" value=""/>
		<add key="ICON_ACTIVITYQUALIFICATION_BOTH" value=""/>
		<add key="ICON_ACTIVITYQUALIFICATION_INDIRECT" value=""/>
		<add key="ICON_ACTIVITYQUALIFICATION_DIRECT" value=""/>
		<add key="ICON_ADD" value=""/>
		<add key="ICON_ADD_ALL" value=""/>
		<add key="ICON_VIEW_CLEAR" value=""/>
		<add key="ICON_PRODUCTIONORDER" value=""/>
		<add key="ICON_WORKCENTER" value=""/>
		<add key="ICON_WORKER" value=""/>
		<add key="ICON_PRT" value=""/>
		<add key="ICON_SAVE" value=""/>
		<add key="ICON_PO_PLANABLE" value=""/>
		<add key="ICON_PO_NOT_PLANABLE" value=""/>
		<add key="ICON_COLORSCHEME" value=""/>
		<add key="ICON_CALENDAR" value=""/>
		<add key="ICON_CATEGORY_BACK" value=""/>
		<add key="ICON_CATEGORY_FORWARD" value=""/>
		<add key="ICON_CHANGELOG" value=""/>
		<add key="ICON_CLOCK" value=""/>
		<add key="ICON_COLORPALLET" value=""/>
		<add key="ICON_CONNECTION" value=""/>
		<add key="ICON_GANTTVIEW_PO" value=""/> <!-- size: 23 x 16 -->
		<add key="ICON_GANTTVIEW_RES" value=""/> <!-- size: 23 x 16 -->
		<add key="ICON_GANTTVIEW_STD" value=""/> <!-- size: 23 x 16 -->
		<add key="ICON_EDIT" value=""/>
		<add key="ICON_EXCEL_EXPORT" value=""/>
		<add key="ICON_FILTER_INACTIVE" value=""/>
		<add key="ICON_FILTER_ACTIVE" value=""/>
		<add key="ICON_FOLDER" value=""/>
		<add key="ICON_FORMULA" value=""/>
		<add key="ICON_FULLSCREEN" value=""/>
		<add key="ICON_GRID_TREE_COLLAPSED" value=""/> <!-- size: 25 x 16 -->
		<add key="ICON_GRID_TREE_EXPANDED" value=""/> <!-- size: 25 x 16 -->
		<add key="ICON_GRID_TREE_JUMP" value=""/> <!-- size: 25 x 16 -->
		<add key="ICON_GRID_TREE_JUMP_COLLAPSED" value=""/> <!-- size: 25 x 16 -->
		<add key="ICON_GRID_TREE_JUMP_EXPANDED" value=""/> <!-- size: 25 x 16 -->
		<add key="ICON_MANUAL_MODE" value=""/>
		<add key="ICON_HELP" value=""/>
		<add key="ICON_ACTUAL_TIME" value=""/>
		<add key="ICON_JUMPMARK" value=""/>
		<add key="ICON_LIVE_MODUS" value=""/>
		<add key="ICON_RESSOURCESCHEDULE_NEXT_WEEK" value=""/>
		<add key="ICON_RESSOURCESCHEDULE_PREV_WEEK" value=""/>
		<add key="ICON_PERMISSION" value=""/>
		<add key="ICON_PRINT" value=""/>
		<add key="ICON_PROPERTY" value=""/>
		<add key="ICON_RELOAD_MODEL" value=""/>
		<add key="ICON_REMOVE" value=""/>
		<add key="ICON_RESET" value=""/>
		<add key="ICON_SELECT" value=""/>
		<add key="ICON_SHEET" value=""/>
		<add key="ICON_DATASET_SAVE" value=""/>
		<add key="ICON_DATASET_PREV" value=""/>
		<add key="ICON_DATASET_COPY" value=""/>
		<add key="ICON_DATASET_DELETE" value=""/>
		<add key="ICON_DATASET_EDIT" value=""/>
		<add key="ICON_DATASET_NEW" value=""/>
		<add key="ICON_DATASET_NEXT" value=""/>
		<add key="ICON_DATASET_DISCARD" value=""/>
		<add key="ICON_SEARCH" value=""/>
		<add key="ICON_SWAP" value=""/>
		<add key="ICON_SCENARIO_DISCARD" value=""/> <!-- size: 48 x 48 -->
		<add key="ICON_SCENARIO_SAVE" value=""/> <!-- size: 48 x 48 -->
		<add key="ICON_SCENARIO_ACCEPT" value=""/> <!-- size: 48 x 48 -->
		<add key="ICON_UPDATE_BDE" value=""/>
		<add key="ICON_ZOOM_IN" value=""/>
		<add key="ICON_ZOOM_OUT" value=""/>
		<add key="ICON_LOCKED" value=""/>
		<add key="ICON_UNLOCKED" value=""/>
		<add key="ICON_CREATE_ORDERRELATED_ROUTING" value=""/>
		
	</gui>
</configuration>
