@{
    ViewData[index: "Title"] = "About";
}
<h2>@ViewData[index: "Title"].</h2>
<h3>@ViewData[index: "Message"]</h3>

<p>Use this area to provide additional information.</p>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
