<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLServer" value="localhost,1433"  />
    <add key="DefaultLocalHostConnection" value=";MultipleActiveResultSets=true;User ID=SA;Password=123*Start#"  />
    <add key="HubConnection" value="http://141.56.137.26:5000/" />
    <add key="HubChannel" value="MessageHub" />
    <add key="GanttPlanDataBase" value="GP" />
  </appSettings>
</configuration>