@{
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
    string raw = "Chart Rendering Failed";
    if (chart != null) { 
        raw = chart.CreateChartCode("MaschineChart");
    }
}
<div><canvas id="MaschineChart" style="max-height: 350px;"></canvas></div>
<script>
    @Html.Raw(raw);
</script>
