@{
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
}
<div><canvas id="MaschineChart" style="height: 200px;"></canvas></div>

<script>
    @Html.Raw(chart.CreateChartCode("MaschineChart"));
</script>
