@{
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
}
<div><canvas id="MaschineChart" style="max-height: 350px;"></canvas></div>

<script>
    @if(null != chart) { 
        Html.Raw(chart.CreateChartCode("MaschineChart"));
    }
</script>
