<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Server=141.56.137.25,1433;Persist Security Info=False;User ID=SA;Password=123*Start#;Initial Catalog=Master40"  />
    <add key="HangfireConnection" value="Server=141.56.137.25;Database=Hangfire;Persist Security Info=False;User ID=SA;Password=123*Start#;MultipleActiveResultSets=true"  />
    <add key="ResultConnection" value="Server=141.56.137.25,1433;Persist Security Info=False;User ID=SA;Password=123*Start#;Initial Catalog=Master40Result" />
    <add key="FrontEndConnection" value="http://141.56.227.8:5000/MessageHub" />
  </appSettings>
</configuration>