<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Server=(localdb)\mssqllocaldb;Database=Master40;Trusted_Connection=True;MultipleActiveResultSets=true"  />
    <add key="ResultConnection" value="Server=(localdb)\mssqllocaldb;Database=Master40Results;Trusted_Connection=True;MultipleActiveResultSets=true"  />
  </appSettings>
</configuration>