@model string

<form method="post" asp-action="Index" onchange="submitform()">
    <div class="form-inline">
        <h5>Filter Options</h5>
        <hr />
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-4">Order</label>
                <div class="col-md-8">
                    <select class="form-control" asp-items="ViewBag.OrderId" id="fcOrder" name="Order" ></select>
                </div>
            </div>
        </div>        
        <div class="col-md-7">
            <div class="form-group">
                <label class="control-label col-md-4">State of Planning</label>
                <div class="col-md-8">
                    <select class="form-control" asp-items="ViewBag.SchedulingState" id="fcState" name="SchedulingState"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gantt"></div>
        </div>
    </div>
    <!--
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Apply" class="btn btn-default" />
        </div>
    </div>
    -->
</form>


<script>

    $(document).ready(
        jQuery(function () {
            var data = @Html.Raw(Model)
                $(".gantt").gantt({ source: data, navigate: 'scroll', scale: 'hours', maxScale: 'months', minScale: 'hours', itemsPerPage: '25' });
        })
    );

</script>


