@model string


<div class="gantt"></div>

<script>

    $(document).ready(

        jQuery(function () {

            var data = @Html.Raw(Model)

                $(".gantt").gantt({ source: data, navigate: 'scroll', scale: 'hours', maxScale: 'hours', minScale: 'days', itemsPerPage: '25' });

        })
    );

</script>


