@model List<Master40.Models.LogMessage>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    int LineNumber = 0;
}


<script>
    function submitform() {
        $('form').submit();
    }
</script>

<div class="col-md-12">
    Processing State: <span id="MessageDisplay"></span>
</div>

@await Component.InvokeAsync("ProductionTimeline")


<div class="row">
    <div class="col-md-8 pull-right">
        @await Component.InvokeAsync("MachineGroupCapacity")
    </div>
    <div class="col-md-4 pull-right">
        <h2>MRP </h2>
        <p>
            Container to Process the MRP Run and Show the Results.
        </p>
        <p><a class="btn btn-default btn-block" href="~/Mrp/MrpProcessing">run the whole MRP process</a>
        </p>
        <div>
            <P>Iterate through each step</P>
            <p><a class="btn btn-default btn-block" href="#" onclick="startBackward()">Schedule backward</a>
            </p>
            <p><a class="btn btn-default btn-block" href="~/Mrp/MrpForward">Schedule forward</a>
            </p>
            <p><a class="btn btn-default btn-block" href="~/Mrp/CapacityPlanning">Plan capacities</a>
            </p>
            <p><a class="btn btn-default btn-block" href="~/Mrp/MrpGifflerThompson">Giffler-Thompson</a>
            </p>
        </div>
        <div>
            <p><a class="btn btn-default btn-block" href="~/MRP/Simulate">Simulate</a>
            </p>
        </div>
    </div>
    <div class="col-md-4 pull-left">
        <h2>Result</h2>
        @foreach (var item in Model)
        {
            <div class="alert alert-@item.MessageType.ToString()">
                @{ LineNumber = LineNumber + 1; }
                <strong> @LineNumber.ToString() :</strong> @Html.DisplayFor(modelItem => item.Message)
            </div>
        }
    </div>
</div>
<script>
    var processingProxy = $.connection.hub.createHubProxy("ProcessingHub");
    processingProxy.on("clientListener", function (msg) {
        $("#MessageDisplay").append(msg);
    });


    $.connection.hub.start().done(function () {
        processingProxy.invoke('SystemReady')
    })

    function startBackward() {
        processingProxy.invoke('StartBackwardScheduler')
    }

</script>