@{
    ViewBag.Title = "Mrp Basic";
    Layout = "_Layout";
    int LineNumber = 0;
}


<script>
    function submitform() {
        var value1 = $('#fcOrder').val();
        var value2 = $('#fcState').val();
        $(".MessageDisplayRunning").prepend('<div class="alert alert-success">Preparing View</div>');
        loadGantt(value1, value2);
        loadCharts(value2)
        //$('form').submit();
    }

</script>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <h2>MRP </h2>
                        <p>
                            Container to Process the MRP Run and Show the Results.
                        </p>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Processing Options</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startFullPlanning()">Run All</a></p>
                                        
                                        <P>Step by Step</P>
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startBackward()">Schedule backward</a></p>
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startForward()">Schedule forward</a></p>
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startCapacity()">Plan capacities</a></p>
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startGifflerThompson()">Giffler-Thompson</a></p>
                                        <p><a class="btn btn-default btn-block" href="#" onclick="startSimulation()">Simulate</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">For Debugging Only</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p><a class="btn btn-default btn-block" href="~/Mrp/MrpProcessing">Run All</a></p>
                                        <P>Step by Step</P>
                                        <p><a class="btn btn-default btn-block" href="~/Mrp/MrpBackward">Schedule backward</a></p>
                                        <p><a class="btn btn-default btn-block" href="~/Mrp/MrpForward">Schedule forward</a></p>
                                        <p><a class="btn btn-default btn-block" href="~/Mrp/CapacityPlanning">Plan capacities</a></p>
                                        <p><a class="btn btn-default btn-block" href="~/Mrp/MrpGifflerThompson">Giffler-Thompson</a></p>
                                        <p><a class="btn btn-default btn-block" href="~/MRP/Simulate">Simulate</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>Processing State:</h4>
                        <div id="" class="MessageDisplay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ProductionGantt" id="ProductionGantt" />
                    </div>
                    <div class="col-md-12" id="ProductionChart">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        var processingProxy = $.connection.hub.createHubProxy("ProcessingHub");
        processingProxy.on("clientListener", function (msg) {
            if (msg == "MrpProcessingComplete") {
                loadCharts(1);
                loadGantt(-1, 1);
                $(".MessageDisplay").prepend('<div class="alert alert-info">Completed Processing</div>');
                $(".MessageDisplayRunning").prepend('<div class="alert alert-success">Completed Processing</div>');
                $(".MessageDisplayRunning").prepend('<div class="alert alert-info">Loading Results...</div>');
            } else {
                $(".MessageDisplay").prepend(msg);
                $(".MessageDisplayRunning").prepend(msg);
            }
        });

        // Processing Hub is loaded
        $.connection.hub.start().done(function () {
            processingProxy.invoke('SystemReady');
            loadGantt(-1,1);
            loadCharts(1);
        })
        
        // Start Backward Scheduler
        function startBackward() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            processingProxy.invoke('StartBackwardScheduler');
        }

        // Start Firward Scheduler
        function startForward() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            processingProxy.invoke('StartForwardScheduler');
        }
        // Start Full Scheduler
        function startFullPlanning() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            $.get("Mrp/MrpProcessingAjax");
        }


        // Start Capacity Scheduler
        function startCapacity() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            processingProxy.invoke('StartCapacityPlanning');
        }

        // Start GF Scheduler
        function startGifflerThompson() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            processingProxy.invoke('StartGifflerThompsonPlanning');
        }

        // Start Simulation
        function startSimulation() {
            $(".MessageDisplayRunning").html("");
            $('#ajax-busy').show();
            $.get("Mrp/SimulateAjax")
        }

        $(document).ready(function () {
            // Block Interactions
            $(".MessageDisplayRunning").prepend('<div class="alert alert-success">Preparing System</div>');
            $('#ajax-busy').show();
            // make make use of full size and hide overflow
            $('#main').removeClass("container").addClass("container-fluid").css("overflow-x", "hidden");
        });


        function loadGantt(orderId, stateId) {
            $.ajax({
                url: "Mrp/ReloadGantt/" + orderId + "/" + stateId,
                async: true,
                context: document.body,
                beforeSend: function () {
                    $('#ajax-busy').show();
                },
                success: function (msg) {
                    $(".MessageDisplayRunning").html("");
                    $('#ajax-busy').hide();

                },
                error: function () {
                    $(document).ajaxError(function (xhr, ajaxOptions, thrownError) {
                        alert('status: ' +
                            ajaxOptions.status +
                            '-' +
                            ajaxOptions.statusText +
                            ' \n' +
                            'error:\n' +
                            ajaxOptions.responseText);
                    });
                }
            }).done(function (data) { $('#ProductionGantt').html(data); });
        }

        function loadCharts(stateId) {
            $.ajax({
                url: "Mrp/ReloadChart/" + stateId,
                async: true,
                context: document.body,
                beforeSend: function () {
                    $('#ajax-busy').show();
                },
                success: function (msg) {
                    $(".MessageDisplayRunning").html("");
                    $('#ajax-busy').hide();
                },
                error: function () {
                    $(document).ajaxError(function (xhr, ajaxOptions, thrownError) {
                        alert('status: ' +
                            ajaxOptions.status +
                            '-' +
                            ajaxOptions.statusText +
                            ' \n' +
                            'error:\n' +
                            ajaxOptions.responseText);
                    });
                }
            }).done(function (data) { $('#ProductionChart').html(data); });
        }
    </script>
