@model IEnumerable<Master40.Models.MenuItem>

@foreach (var item in Model)
{
    @if (item.Children != null && item.Children.Count > 0)
     {
         <li data-toggle="collapse" data-target="#@item.LinkUrl" class="collapsed">
             <a href="#"> @item.MenuText <span class="arrow"></span></a>
         </li>
         <ul class="sub-menu collapse" id="@item.LinkUrl">
             @Html.Partial("~/Views/Shared/Components/Menu/Menu.cshtml", item.Children)
         </ul>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller=@item.LinkUrl asp-action="Index"> @Html.DisplayFor(modelItem => item.MenuText)</a>
        </li>
    }
}
                    

        
