﻿<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<version/>
	<database_ganttplan>
		<add key="CONNECTION_STRING" value="DRIVER={SQL Server Native Client 11.0};SERVER=(localdb)\MSSQLLocalDB;DATABASE=GanttPlanImportTestDB;Trusted_connection=Yes;UID=;PWD="/>
	</database_ganttplan>
	<application>
		<add key="PATH_LICENCEFILE" value="C:\Users\Administrator\Desktop\GanttLizenzJuli2020\HTW Dresden_21-07-2020-11-21_1"/>
		<add key="LANGUAGE" value="DE"/>
	</application>
	<export>
		<add key="MODE" value="CSV"/>
		<add key="FILEEXT" value="csv"/>
		<add key="DELIMITER" value="|"/>
		<add key="ENABLE_*"/>
	</export>
</configuration>
