﻿<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<version/>
	<database_ganttplan>
		<add key="CONNECTION_STRING" value="DRIVER={SQL Server Native Client 11.0};SERVER=(localdb)\MSSQLLocalDB;DATABASE=GanttPlanImportTestDB;Trusted_connection=Yes;UID=;PWD="/>
		<add key="SYNCHRONIZATION_WAITPERIOD" value="0"/>
		<add key="SYNCHRONIZATION_PROPERTY_stockquantityposting" value="name|material_id|quantity|quantity_unit_id|posting_type|info_objecttype_id"/>
		<add key="SYNCHRONIZATION_PROPERTY_salesorder" value="name|info1|duedate|locked|material_id|planning_type|quantity|quantity_unit_id|salesorder_type|status|priority_id"/>
		<add key="SYNCHRONIZATION_NO_DELETE" value="salesorder"/>
	</database_ganttplan>
	<application>
		<add key="PATH_LICENCEFILE" value="C:\Users\Administrator\Desktop\GanttLizenzJuli2020\HTW Dresden_21-07-2020-11-21_1"/>
		<add key="LANGUAGE" value="DE"/>
		<add key="CONSOLE_LOGGING" value="true"/>
	</application>
	<database_extern>
		<add key="CONNECTION_STRING" value="DRIVER={SQL Server Native Client 11.0};SERVER=(localdb)\MSSQLLocalDB;DATABASE=Master40;Trusted_connection=Yes;UID=;PWD="/>
		<add key="SQL_SELECT_ALL_stockquantityposting" value="SELECT '' as client_id, s.Id as stockquantityposting_id, CONCAT('Fix for ', s.Name) as name, s.ArticleForeignKey as material_id, s.[Current] as quantity, a.UnitId as quantity_unit_id ,posting_type = 1, info_objecttype_id = 'DBConfigImport' FROM [Master40].[dbo].[M_Stock] as s LEFT JOIN M_Article as a ON s.ArticleForeignKey = a.Id SELECT * FROM M_Stock"/>
		<add key="SQL_SELECT_ALL_salesorder" value="SELECT '' AS client_id, o.id as salesorder_id, a.Name as name, o.CreationTime as info1 ,CAST(o.DueDateTime as smalldatetime) as duedate, 0 as locked, p.ArticleId as material_id, 1 as planning_type, p.Quantity as quantity, a.UnitId as quantity_unit_id, 8 as salesorder_type, 2 as 'status', 1 as priority_id FROM [Master40].[dbo].[T_CustomerOrder] o LEFT JOIN Master40.dbo.T_CustomerOrderPart p ON p.CustomerOrderId=o.Id LEFT JOIN Master40.dbo.M_Article a ON a.Id = p.ArticleId"/>
	</database_extern>
	<xml_extern>
		<add key="PATH_XMLFILES" value="C:\Program Files\GANTTPLAN_V6\Config"/>
		<add key="SOURCEFILE_planningparameter" value="planningparameter.xml"/>
		<add key="SOURCEFILE_priority" value="priority.xml"/>
	</xml_extern>
	<export>
		<add key="MODE" value="DIRECTSQL"/>
		<add key="EXPORT_SESSIONDATA" value="client_id"/>
		<add key="CONNECTION" value="DBGP"/>
		<add key="ENABLE_productionorder"/>
		<add key="CONFIG_productionorder" value=""/>
		<add key="TARGET_productionorder" value="gptbl_productionorder"/>
		<add key="ENABLE_productionorder_operation_activity"/>
		<add key="CONFIG_productionorder_operation_activity" value=""/>
		<add key="TARGET_productionorder_operation_activity" value="gptbl_productionorder_operation_activity"/>
		<add key="ENABLE_productionorder_operation_activity_materialrelation"/>
		<add key="CONFIG_productionorder_operation_activity_materialrelation" value=""/>
		<add key="TARGET_productionorder_operation_activity_materialrelation" value="gptbl_productionorder_operation_activity_materialrelation"/>
		<add key="ENABLE_productionorder_operation_activity_resource"/>
		<add key="CONFIG_productionorder_operation_activity_resource" value=""/>
		<add key="TARGET_productionorder_operation_activity_resource" value="gptbl_productionorder_operation_activity_resource"/>
		<add key="ENABLE_productionorder_operation_activity_resource_interval"/>
		<add key="CONFIG_productionorder_operation_activity_resource_interval" value=""/>
		<add key="TARGET_productionorder_operation_activity_resource_interval" value="gptbl_productionorder_operation_activity_resource_interval"/>
		<add key="ENABLE_salesorder"/>
		<add key="CONFIG_salesorder" value=""/>
		<add key="TARGET_salesorder" value="gptbl_salesorder"/>
		<add key="ENABLE_priority"/>
		<add key="CONFIG_priority" value=""/>
		<add key="TARGET_priority" value="gptbl_priority"/>
		<add key="ENABLE_priority_latenesscost"/>
		<add key="CONFIG_priority_latenesscost" value=""/>
		<add key="TARGET_priority_latenesscost" value="gptbl_priority_latenesscost"/>
		<add key="ENABLE_salesorder_materialrelation"/>
		<add key="CONFIG_salesorder_materialrelation" value=""/>
		<add key="TARGET_salesorder_materialrelation" value="gptbl_salesorder_materialrelation"/>
		<add key="ENABLE_stockquantityposting"/>
		<add key="CONFIG_stockquantityposting" value=""/>
		<add key="TARGET_stockquantityposting" value="gptbl_stockquantityposting"/>
		<add key="ENABLE_modelparameter"/>
		<add key="CONFIG_modelparameter" value=""/>
		<add key="TARGET_modelparameter" value="gptbl_modelparameter"/>
		<add key="ENABLE_planningparameter"/>
		<add key="CONFIG_planningparameter" value=""/>
		<add key="TARGET_planningparameter" value="gptbl_planningparameter"/>
	</export>
	<datasource>
		<add key="SQL_IMPORTSRC_stockquantityposting" value="DBGP"/>
		<add key="SQL_IMPORTSRC_salesorder" value="DBGP"/>
		<add key="SQL_IMPORTSRC_priority" value="XMLConfig"/>
		<add key="IGNORE_METADATA_IMPORTSRC" value="DBGP"/>
		<add key="SQL_IMPORTSRC_planningparameter" value="XMLConfig"/>
	</datasource>
</configuration>